flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Pub/Sub",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2cac6541d3b7ad29",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b1115d7b4bce6f22",
            "163bec2fefa62a7c",
            "48ea516b2cc04255",
            "ef668b083c0bba93",
            "78f49719d821c44b",
            "f2aa3a4d937b3b3a",
            "9bbd025173277f48",
            "5002c1a8362535fa",
            "65cadcd270c673e6",
            "72d0fec8655e3fa4",
            "2dccfafe11e0a4df",
            "cc90e145bb4ca7fd",
            "fcde7b4b83fc45d2",
            "695c774f6a4a856c",
            "4a5f81d539e114f1",
            "39af1a7eaf26c282",
            "f161d5e88609338c",
            "8f963441c43db583",
            "40065405ae45eebb"
        ],
        "x": 174,
        "y": 739,
        "w": 932,
        "h": 302
    },
    {
        "id": "62f91cf6e7d132d1",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0a2486d0f3d8bfd5",
            "cb4d866e631c01ae",
            "997975557ef1e873",
            "de8091ab1ae779f6",
            "95e4cdf8faf5e1df",
            "87f62bece8e4dd67",
            "b1c3baa492255df2"
        ],
        "x": 174,
        "y": 1439,
        "w": 772,
        "h": 182
    },
    {
        "id": "af64ebcc5f745fbb",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2d16d1fb9be9c0af",
            "fa24a2f54b4ae1a2",
            "91375cbee22eac8b",
            "febc59b2a01d3b51",
            "cb516c136f502154",
            "f41773382fda2a90",
            "b6e7189343a699c5",
            "7396f17b4d5a8acc",
            "1972856ebcf4fd08",
            "43e8195bba447330",
            "0c40af1e53657c10",
            "a194d606d2c36f0c",
            "97e2e9730afa6411",
            "fecc8e288bcc1234",
            "d199768c970a404f",
            "bf84f00af773ae55",
            "088242062a8edf86",
            "7cbd67306119b602",
            "9204f8d517897d74",
            "ff38c27547f57df5",
            "4ce66cb6c1cd331a",
            "b6f1b5afd8f26926",
            "b0058fcf19b55fbc",
            "1fb5a0fd9a1d867e",
            "11e84d462d0da702",
            "f0bb2e3b8a4db6ac",
            "9da53c72d3d77292",
            "fb872857136145a0",
            "1437e30492222fdc",
            "5a5ed27cce4a9ee1",
            "8fb0ec6470571fd1",
            "e4140757ba2e1d5d",
            "e3a7bdd291dc874f",
            "264ce3bcd8f56fe2",
            "225fb9b32f8b87a0",
            "0b7db5e2a563f7ee",
            "3f291a7f649259e7",
            "a9c4d402f2216f61"
        ],
        "x": 174,
        "y": 3299,
        "w": 932,
        "h": 602
    },
    {
        "id": "704fe7a0a3413400",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "720bdf8b4f4fd2bc",
            "c2e79e20b06839e6",
            "3c5d87dbdc9a0a2c",
            "507cce674d0f12d6",
            "5f6c31b4abc8077c",
            "d17844f69c0a434e",
            "93db13a150783f1f",
            "3484111e0c147f1d"
        ],
        "x": 174,
        "y": 3919,
        "w": 452,
        "h": 222
    },
    {
        "id": "ce2cac978984a426",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dae14136f482103c",
            "437c51adccb5ac31",
            "6c2aa04153a511ed",
            "051f1aadd5a065d6",
            "b7063bd33192a3f5",
            "dd045490fff21a17",
            "93a9fa867e314aa1",
            "2d49c2d7293068cb",
            "a2d55fdc5f93394d",
            "17ec0cec1cf800f0",
            "dc4c13902bf14d5a",
            "e562836651255c95",
            "84aa094dcec4b4eb",
            "64b694757cc66cfc",
            "691a855ade1dae47",
            "7e94bbf4b7e030a2",
            "dc84513231e963ea",
            "c3ff87f232ec8d67",
            "5fcd6ca3d9f16c53",
            "78d502b560d7183e",
            "d491cee4bda22ed8",
            "7421a7bbf5efbc25",
            "6782baed77d78021",
            "4601d57ef159d094",
            "7553ae3a6a465f09",
            "94c550d8678f1786",
            "e6f11bbd84e2813a",
            "5d2fc40d284feb0e",
            "affbfac114622266",
            "0d744b50e957cbff",
            "04030da87c97a7e6",
            "adf9f9e953278517",
            "e0952c14ace44c8c",
            "d951ba2efcf687a6",
            "5516fa767bc09550",
            "87d31bf57fc4368a",
            "11ac8309f0b927d3",
            "4a87ce4b98a6bbc8",
            "6bc1cafe3c62eedd",
            "e16278c4105cfffa",
            "bf2887ccd58f7f76",
            "3cda36254c15a40a"
        ],
        "x": 174,
        "y": 119,
        "w": 1232,
        "h": 602
    },
    {
        "id": "b427973b734bcab3",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7dbcb641d60081bf",
            "9830b7b725f14d83",
            "bc302c2998d5d05c",
            "51d2cea964219b92",
            "dc672f4c2f5746bc",
            "3edb5da5e7941c37",
            "a928c6d420cd98cd",
            "d32a7dac59dfaf10",
            "aeb035ff965d3e07",
            "cb97214fc946340e",
            "15b891b1eaae02bc",
            "3f243d36cf7b774d",
            "35db291da8249070"
        ],
        "x": 174,
        "y": 1799,
        "w": 1092,
        "h": 142
    },
    {
        "id": "5bab0e2a46b1d524",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d529935874772fda",
            "cb051f965faa6650",
            "9e78fca5a8e70540",
            "c7268026820f0d77",
            "4c72ff24ea2126e9",
            "bef0008ad5302c2b",
            "13f7abade4e860f4",
            "079b3d6251c543fe"
        ],
        "x": 174,
        "y": 1059,
        "w": 732,
        "h": 182
    },
    {
        "id": "f963686654f132ac",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bb88671482bf992f",
            "3b0765845f999be7",
            "6d8b0561548a5ede",
            "9accdaa298e6f733",
            "228ec0fd12c7c4a8",
            "cb2097a75dbc0e68",
            "0f92cbf1103eca1a",
            "507b28c4149ac133",
            "f62e57c3059db262",
            "9bb2075a70951241",
            "a3928b9a44530883",
            "d4615f4385a2f0d4",
            "9fb4e17ee94bc71b",
            "691dac0a89d189f9",
            "a8a0986844328c2b",
            "4a06872105653c54",
            "83470c69926a4c78"
        ],
        "x": 174,
        "y": 1639,
        "w": 1392,
        "h": 142
    },
    {
        "id": "0e2c3f294eb753b6",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "20ec172fe67348c6",
            "5a32454d94055eac",
            "0ba924a28af55b20",
            "d1007e39ed03dbdd",
            "5af91b47829c129d",
            "df08c4d8b258e5c5",
            "634a216d184c5685",
            "850ec94753e2c28e",
            "2fb43f7ea596c984",
            "55162673b6a94ebc",
            "88fdc7d698acb2d7",
            "3d51c30ba2785e20",
            "343e0c53a688e686",
            "e8e9918ab2ea8a60",
            "c337fed9c7000a43",
            "f8b75275aeb43797",
            "b5bc10e1081d22fc",
            "522e09cdb6843f51",
            "fbf08e5fe9f4d457",
            "2a717a1429576405",
            "f0fc3d4efdfc4442",
            "22b5b78420c0a3cb",
            "ff5a70d1daccfcd8",
            "8cb14b7b13a76f0d",
            "ec969eba156a4f07",
            "80d75f8c9421968f",
            "dc7851093f07bef3",
            "3dc527070675bf77",
            "775b0e5e08401ddf",
            "3b01c1f0f86b0b11",
            "e460a4e0e46f8b6b",
            "544ea0b45f6dc572",
            "2b3db2c16c988666",
            "dbc51c795c74b90f",
            "b367411c21cb904c",
            "4ac08b391b532d20",
            "ec8e2eeb9ceb6ebb",
            "12b28634fce3d9a0",
            "f2a77929465ade4f",
            "bf376dc2dfd3bf3e",
            "e4071c69374aa3a4",
            "f5aaa060b0d16106",
            "efad9ff6bfbdae5b",
            "fa4c3cbed535aba3",
            "352b870c0bdaf6d0",
            "d11e2b1d34dad0bf",
            "a2b990cc2ac4b822",
            "8dafdd8865d5f168",
            "1ab497b74638e16e",
            "72c0f0ca72d21c67",
            "02167eb395a3423a",
            "3e276eaf84e46111",
            "ee7abda9b65a0828",
            "714d2454d4276f86",
            "04fbb71a261a5a42",
            "a600594b010f79b6",
            "01a8d6c00cfa4ed4",
            "eafdcbad91d4038e",
            "913733ee81aec859",
            "5ae11166c7e08eee",
            "28044557835421f6",
            "f9f3a1e93e70df28",
            "2c4139ee09b1643e",
            "84972c6fa7c3556a",
            "3db0281cd705b3bc",
            "e1e0a2bf24cab809",
            "7f9e9fa8e761b1d0",
            "df49419d7601b87d",
            "f991a21e2b607b2a",
            "e9481475ba807981",
            "3e59395ae80ba3c9",
            "db6692c486872572",
            "ecd4cba1d3c3ffc0",
            "1304c39f28775a40",
            "290c1b9a75e1e79c",
            "79c2cb901aa900f8",
            "7a263ef696031b44",
            "55f9320f452845df",
            "d719d4363f90aa8e",
            "f19c23244c54e367",
            "eebf23432bdf5c12",
            "17f796dad109ce1f",
            "d7bc6895152a0bbb",
            "8ce93a54e79404b3",
            "33170c2549d5ffe3",
            "e65d663a042a0a9e",
            "53059b8651e0f42c",
            "f21471fac0b612dd",
            "7e19b019fecfe305",
            "c0a6bc1c0593ea62",
            "b3030784dff003ef",
            "f356b76e580212fa",
            "ef32dee4dbb35287",
            "513b4e7f508782eb",
            "c9abb98c73c06e9a",
            "5e170c1d307dc5b2",
            "16cfbad1f297bfc9",
            "2f1480cfe91a468a",
            "9823cd1371a656bd",
            "3bb3eb8fad8e5ead",
            "8cdef1bef5766097",
            "1b8b7fb7e63be747",
            "9bf2d21dab89cb20",
            "3fefb9058f685721",
            "220416cccfa82033",
            "1f6c456ebb02b09b",
            "f741c8c408ad151f",
            "55a84f688aa469fc",
            "d4304c99caba02e4"
        ],
        "x": 174,
        "y": 1959,
        "w": 1372,
        "h": 1322
    },
    {
        "id": "21a3293875df8cdf",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b2a9dab323bab9b3",
            "1749de762a22281e",
            "04a752405fb3d290",
            "23a1547fa9a9b2f4",
            "92f0ea823a390d73",
            "bdb9a5a89aa0d9b3"
        ],
        "x": 174,
        "y": 1259,
        "w": 672,
        "h": 162
    },
    {
        "id": "55a84f688aa469fc",
        "type": "junction",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "x": 760,
        "y": 2740,
        "wires": [
            [
                "1ab497b74638e16e"
            ]
        ]
    },
    {
        "id": "ac0560c0180e4641",
        "type": "mqtt-broker",
        "name": "Publisher",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": false,
        "birthTopic": "",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8cf5f6b5.937088",
        "type": "mqtt-broker",
        "name": "Subscriber",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3ca20af8a00e4653",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_last_message_timestamp_seconds",
        "help": "Timestamp of last message received (in seconds)",
        "labels": "centre_id",
        "mtype": "gauge"
    },
    {
        "id": "a566680eb78ef6ce",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_published_total",
        "help": "Number of message published",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "c344793f83ad40d6",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_invalid_format_total",
        "help": "Number of invalid messages",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "dd410bebb1e18cb0",
        "type": "redis-config",
        "name": "Cluster",
        "options": "$eval($env(\"REDIS_URL\"))",
        "cluster": true,
        "optionsType": "jsonata"
    },
    {
        "id": "ee256ebbe2fe3b40",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_received_total",
        "help": "Number of messages received from broker",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "99a12653dcbb94b9",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_connected_flag",
        "help": "Connection status from broker to centre",
        "labels": "centre_id",
        "mtype": "gauge"
    },
    {
        "id": "7fee2b4a4a920926",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_no_metadata_total",
        "help": "Number of messages received without corresponding metadata from centre\t",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "c58a8bf69230d14f",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_invalid_topic_total",
        "help": "Number of messages on invalid topic",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "8edeadf2c89adf8d",
        "type": "mqtt-broker",
        "name": "Backup",
        "broker": "\"\"",
        "port": "1883",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "317936126dce3abb",
        "type": "prometheus-metric-config",
        "name": "antiloop_wis2_gb_connected_flag",
        "help": "Connection status to local broker",
        "labels": "centre_id",
        "mtype": "gauge"
    },
    {
        "id": "80fd19a79e7bbf69",
        "type": "mqtt-broker",
        "name": "Publisher_2",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e934cf45bdf5a8aa",
        "type": "mqtt-broker",
        "name": "Publisher_3",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3fb95ea2e5cfff8c",
        "type": "mqtt-broker",
        "name": "Publisher_4",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7153f36cc17dd9d8",
        "type": "mqtt-broker",
        "name": "Publisher_5",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b1115d7b4bce6f22",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Monitor connection",
        "info": "",
        "x": 310,
        "y": 780,
        "wires": []
    },
    {
        "id": "163bec2fefa62a7c",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 570,
        "y": 860,
        "wires": [
            [
                "f2aa3a4d937b3b3a"
            ]
        ]
    },
    {
        "id": "48ea516b2cc04255",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "link in 6",
        "links": [
            "bf84f00af773ae55",
            "9204f8d517897d74"
        ],
        "x": 535,
        "y": 820,
        "wires": [
            [
                "163bec2fefa62a7c"
            ]
        ]
    },
    {
        "id": "ef668b083c0bba93",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\": 0\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 880,
        "wires": [
            [
                "78f49719d821c44b"
            ]
        ]
    },
    {
        "id": "78f49719d821c44b",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Flag",
        "metric": "99a12653dcbb94b9",
        "x": 1030,
        "y": 860,
        "wires": []
    },
    {
        "id": "f2aa3a4d937b3b3a",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Status ?",
        "property": "$flowContext(\"primary_connected\") or $flowContext(\"backup_connected\") ",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 860,
        "wires": [
            [
                "9bbd025173277f48"
            ],
            [
                "ef668b083c0bba93"
            ]
        ]
    },
    {
        "id": "9bbd025173277f48",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\": 1\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 840,
        "wires": [
            [
                "78f49719d821c44b"
            ]
        ]
    },
    {
        "id": "0a2486d0f3d8bfd5",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Monitor last subscribe",
        "info": "",
        "x": 320,
        "y": 1480,
        "wires": []
    },
    {
        "id": "cb4d866e631c01ae",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "1 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 1580,
        "wires": [
            [
                "997975557ef1e873"
            ]
        ]
    },
    {
        "id": "997975557ef1e873",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 410,
        "y": 1580,
        "wires": [
            [
                "b1c3baa492255df2"
            ]
        ]
    },
    {
        "id": "de8091ab1ae779f6",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "link in 5",
        "links": [
            "bf84f00af773ae55",
            "088242062a8edf86",
            "9204f8d517897d74"
        ],
        "x": 375,
        "y": 1540,
        "wires": [
            [
                "997975557ef1e873"
            ]
        ]
    },
    {
        "id": "95e4cdf8faf5e1df",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Last message",
        "metric": "3ca20af8a00e4653",
        "x": 840,
        "y": 1580,
        "wires": []
    },
    {
        "id": "87f62bece8e4dd67",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\": $floor ( $flowContext(\"last_sub\") / 1000 )\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1580,
        "wires": [
            [
                "95e4cdf8faf5e1df"
            ]
        ]
    },
    {
        "id": "20ec172fe67348c6",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Anti-loop",
        "info": "",
        "x": 260,
        "y": 2000,
        "wires": []
    },
    {
        "id": "5a32454d94055eac",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 900,
        "y": 3020,
        "wires": []
    },
    {
        "id": "0ba924a28af55b20",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Subscriber",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 640,
        "y": 2120,
        "wires": [
            [
                "f0fc3d4efdfc4442"
            ]
        ]
    },
    {
        "id": "d1007e39ed03dbdd",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prepare pub",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mqttpayload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqtttopic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 3020,
        "wires": [
            [
                "5a32454d94055eac",
                "8cdef1bef5766097"
            ]
        ]
    },
    {
        "id": "5af91b47829c129d",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Subscriber",
        "metric": "ee256ebbe2fe3b40",
        "x": 1230,
        "y": 2160,
        "wires": []
    },
    {
        "id": "df08c4d8b258e5c5",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 2160,
        "wires": [
            [
                "5af91b47829c129d"
            ]
        ]
    },
    {
        "id": "634a216d184c5685",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher",
        "metric": "a566680eb78ef6ce",
        "x": 900,
        "y": 2980,
        "wires": []
    },
    {
        "id": "850ec94753e2c28e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 2980,
        "wires": [
            [
                "634a216d184c5685"
            ]
        ]
    },
    {
        "id": "2fb43f7ea596c984",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Validate ?",
        "property": "(\t   (\t       ( $env(\"MSG_CHECK_OPTION\") in [\"discard\",\"verify\"] ) \t       and $not ($contains(topic,\"metadata\") )\t       and $not ($contains(topic,\"monitor\") )\t   ) ? true : false\t)\t",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 2780,
        "wires": [
            [
                "9bf2d21dab89cb20"
            ],
            [
                "c337fed9c7000a43"
            ]
        ]
    },
    {
        "id": "55162673b6a94ebc",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 1",
        "links": [
            "c337fed9c7000a43",
            "f8b75275aeb43797",
            "b5bc10e1081d22fc"
        ],
        "x": 265,
        "y": 3000,
        "wires": [
            [
                "e8e9918ab2ea8a60"
            ]
        ]
    },
    {
        "id": "88fdc7d698acb2d7",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Discard ?",
        "property": "(  (  $env(\"MSG_CHECK_OPTION\") = \"discard\" )  ? true : false ) ",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1220,
        "y": 2780,
        "wires": [
            [],
            [
                "b5bc10e1081d22fc"
            ]
        ]
    },
    {
        "id": "3d51c30ba2785e20",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Invalid Message",
        "metric": "c344793f83ad40d6",
        "x": 1400,
        "y": 2740,
        "wires": []
    },
    {
        "id": "343e0c53a688e686",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 2740,
        "wires": [
            [
                "3d51c30ba2785e20"
            ]
        ]
    },
    {
        "id": "e8e9918ab2ea8a60",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Save msg",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "mqtttopic",
                "pt": "msg",
                "to": "topic",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[msg.mqttpayload.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 3000,
        "wires": [
            [
                "522e09cdb6843f51"
            ]
        ]
    },
    {
        "id": "c337fed9c7000a43",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "55162673b6a94ebc"
        ],
        "x": 635,
        "y": 2820,
        "wires": []
    },
    {
        "id": "f8b75275aeb43797",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "55162673b6a94ebc"
        ],
        "x": 1175,
        "y": 2700,
        "wires": []
    },
    {
        "id": "b5bc10e1081d22fc",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "55162673b6a94ebc"
        ],
        "x": 1325,
        "y": 2780,
        "wires": []
    },
    {
        "id": "522e09cdb6843f51",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "server": "dd410bebb1e18cb0",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 490,
        "y": 3000,
        "wires": [
            [
                "1b8b7fb7e63be747"
            ]
        ]
    },
    {
        "id": "fbf08e5fe9f4d457",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 3",
        "links": [
            "bf84f00af773ae55",
            "7cbd67306119b602",
            "b6f1b5afd8f26926"
        ],
        "x": 755,
        "y": 2060,
        "wires": [
            [
                "f0fc3d4efdfc4442",
                "22b5b78420c0a3cb"
            ]
        ]
    },
    {
        "id": "2a717a1429576405",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 4",
        "links": [
            "088242062a8edf86",
            "9204f8d517897d74"
        ],
        "x": 875,
        "y": 2060,
        "wires": [
            [
                "22b5b78420c0a3cb"
            ]
        ]
    },
    {
        "id": "f0fc3d4efdfc4442",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "",
        "controlTopic": "control",
        "defaultState": "queueing",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "10000",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 790,
        "y": 2120,
        "wires": [
            [
                "22b5b78420c0a3cb"
            ]
        ]
    },
    {
        "id": "22b5b78420c0a3cb",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "",
        "controlTopic": "control",
        "defaultState": "queueing",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "10000",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 910,
        "y": 2120,
        "wires": [
            [
                "8cb14b7b13a76f0d",
                "04fbb71a261a5a42",
                "df08c4d8b258e5c5"
            ]
        ]
    },
    {
        "id": "ff5a70d1daccfcd8",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 7",
        "links": [
            "dc7851093f07bef3",
            "3dc527070675bf77",
            "e460a4e0e46f8b6b"
        ],
        "x": 265,
        "y": 2780,
        "wires": [
            [
                "33170c2549d5ffe3"
            ]
        ]
    },
    {
        "id": "8cb14b7b13a76f0d",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Received",
        "rules": [
            {
                "t": "set",
                "p": "last_sub",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 2080,
        "wires": [
            [
                "d719d4363f90aa8e"
            ]
        ]
    },
    {
        "id": "2d16d1fb9be9c0af",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "2s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 3420,
        "wires": [
            [
                "0b7db5e2a563f7ee"
            ]
        ]
    },
    {
        "id": "fa24a2f54b4ae1a2",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Alive",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    $flowContext(\"centreid\"),\t    $flowContext(\"uuid\"),\t    $millis()\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 3420,
        "wires": [
            [
                "91375cbee22eac8b"
            ]
        ]
    },
    {
        "id": "91375cbee22eac8b",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HSET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 630,
        "y": 3420,
        "wires": [
            []
        ]
    },
    {
        "id": "febc59b2a01d3b51",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "10s",
        "props": [
            {
                "p": "topic",
                "v": "[ $flowContext(\"centreid\") ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 270,
        "y": 3520,
        "wires": [
            [
                "fb872857136145a0"
            ]
        ]
    },
    {
        "id": "cb516c136f502154",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Elect",
        "func": "let min = \"zzzzzzzz-zzzz-zzzz-zzzz-zzzzzzzzzzzz\"\nlet arr = msg.payload;\nlet i;\nlet j=0;\nlet del=[];\nlet priority=\"secondary\";\n\nfor (i = 0; i < arr.length - 1; i = i + 2) {\n    if ( (arr[i] < min) && ( ( Date.now() - parseFloat(arr[i+1]) ) < 8000 ) ) min = arr[i] ;\n    if ( (Date.now() - parseFloat(arr[i + 1])) >= 8000 ) {\n        del[j] = arr[i];\n        j=j+1;\n    }\n}\n\nif ( flow.get(\"uuid\") == min ) priority=\"primary\"\n\nmsg.centre_id=flow.get(\"centreid\");\nmsg.payload = priority;\nmsg.del = del;\nmsg.uuid = flow.get(\"uuid\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 3480,
        "wires": [
            [
                "1437e30492222fdc"
            ]
        ]
    },
    {
        "id": "f41773382fda2a90",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Primary ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "primary",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "secondary",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 3760,
        "wires": [
            [
                "0c40af1e53657c10",
                "3f291a7f649259e7"
            ],
            [
                "97e2e9730afa6411",
                "a9c4d402f2216f61"
            ]
        ]
    },
    {
        "id": "b6e7189343a699c5",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Delete ?",
        "property": "del",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 3640,
        "wires": [
            [
                "7396f17b4d5a8acc"
            ]
        ]
    },
    {
        "id": "7396f17b4d5a8acc",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Del",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$append(msg.centre_id,msg.del)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 3640,
        "wires": [
            [
                "43e8195bba447330"
            ]
        ]
    },
    {
        "id": "1972856ebcf4fd08",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HGETALL",
        "name": "Getall",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 530,
        "y": 3480,
        "wires": [
            [
                "cb516c136f502154"
            ]
        ]
    },
    {
        "id": "43e8195bba447330",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HDEL",
        "name": "Del",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 830,
        "y": 3640,
        "wires": [
            []
        ]
    },
    {
        "id": "0c40af1e53657c10",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Open",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 3720,
        "wires": [
            [
                "bf84f00af773ae55"
            ]
        ]
    },
    {
        "id": "a194d606d2c36f0c",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Queue",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "queue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 3800,
        "wires": [
            [
                "fecc8e288bcc1234",
                "9204f8d517897d74"
            ]
        ]
    },
    {
        "id": "97e2e9730afa6411",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 3780,
        "wires": [
            [
                "088242062a8edf86",
                "ff38c27547f57df5"
            ]
        ]
    },
    {
        "id": "fecc8e288bcc1234",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Flush",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "flush",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 3820,
        "wires": [
            [
                "7cbd67306119b602",
                "4ce66cb6c1cd331a"
            ]
        ]
    },
    {
        "id": "d199768c970a404f",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Queue",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "queue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 3820,
        "wires": [
            [
                "b6f1b5afd8f26926"
            ]
        ]
    },
    {
        "id": "bf84f00af773ae55",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "fbf08e5fe9f4d457",
            "de8091ab1ae779f6",
            "48ea516b2cc04255",
            "93db13a150783f1f",
            "695c774f6a4a856c"
        ],
        "x": 535,
        "y": 3720,
        "wires": []
    },
    {
        "id": "088242062a8edf86",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "2a717a1429576405",
            "de8091ab1ae779f6",
            "3484111e0c147f1d"
        ],
        "x": 535,
        "y": 3760,
        "wires": []
    },
    {
        "id": "7cbd67306119b602",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "fbf08e5fe9f4d457"
        ],
        "x": 865,
        "y": 3780,
        "wires": []
    },
    {
        "id": "9204f8d517897d74",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "2a717a1429576405",
            "de8091ab1ae779f6",
            "48ea516b2cc04255",
            "695c774f6a4a856c"
        ],
        "x": 735,
        "y": 3780,
        "wires": []
    },
    {
        "id": "ff38c27547f57df5",
        "type": "delay",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 535,
        "y": 3800,
        "wires": [
            [
                "a194d606d2c36f0c"
            ]
        ],
        "l": false
    },
    {
        "id": "4ce66cb6c1cd331a",
        "type": "delay",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 865,
        "y": 3820,
        "wires": [
            [
                "d199768c970a404f"
            ]
        ],
        "l": false
    },
    {
        "id": "b6f1b5afd8f26926",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "fbf08e5fe9f4d457"
        ],
        "x": 1065,
        "y": 3820,
        "wires": []
    },
    {
        "id": "b0058fcf19b55fbc",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Elect Primary/Secondary",
        "info": "",
        "x": 330,
        "y": 3340,
        "wires": []
    },
    {
        "id": "1fb5a0fd9a1d867e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Primary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   \"docker\",\t   $flowContext(\"centreid\") & \"_primary\",\t   $flowContext(\"host\"),\t   $flowContext(\"centreid\") & \"_primary_time\",\t   $millis()\t]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 3680,
        "wires": [
            [
                "9da53c72d3d77292"
            ]
        ]
    },
    {
        "id": "11e84d462d0da702",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Secondary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[    \"docker\",    $flowContext(\"centreid\") & \"_secondary\",    $flowContext(\"host\"),    $flowContext(\"centreid\") & \"_secondary_time\",    $millis() ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 3860,
        "wires": [
            [
                "f0bb2e3b8a4db6ac"
            ]
        ]
    },
    {
        "id": "f0bb2e3b8a4db6ac",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HSET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 750,
        "y": 3860,
        "wires": [
            []
        ]
    },
    {
        "id": "9da53c72d3d77292",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HSET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 710,
        "y": 3680,
        "wires": [
            []
        ]
    },
    {
        "id": "720bdf8b4f4fd2bc",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Health check",
        "info": "",
        "x": 290,
        "y": 3960,
        "wires": []
    },
    {
        "id": "c2e79e20b06839e6",
        "type": "http in",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "",
        "url": "/primary",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 4020,
        "wires": [
            [
                "507cce674d0f12d6"
            ]
        ]
    },
    {
        "id": "3c5d87dbdc9a0a2c",
        "type": "http response",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 4020,
        "wires": []
    },
    {
        "id": "507cce674d0f12d6",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Response",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "code",
                "tot": "flow"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 4020,
        "wires": [
            [
                "3c5d87dbdc9a0a2c"
            ]
        ]
    },
    {
        "id": "5f6c31b4abc8077c",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "200",
        "rules": [
            {
                "t": "set",
                "p": "code",
                "pt": "flow",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 4060,
        "wires": [
            []
        ]
    },
    {
        "id": "d17844f69c0a434e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "404",
        "rules": [
            {
                "t": "set",
                "p": "code",
                "pt": "flow",
                "to": "404",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 4100,
        "wires": [
            []
        ]
    },
    {
        "id": "93db13a150783f1f",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Is primary",
        "links": [
            "bf84f00af773ae55"
        ],
        "x": 260,
        "y": 4060,
        "wires": [
            [
                "5f6c31b4abc8077c"
            ]
        ],
        "l": true
    },
    {
        "id": "3484111e0c147f1d",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Is secondary",
        "links": [
            "088242062a8edf86"
        ],
        "x": 270,
        "y": 4100,
        "wires": [
            [
                "d17844f69c0a434e"
            ]
        ],
        "l": true
    },
    {
        "id": "dae14136f482103c",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "437c51adccb5ac31",
                "64b694757cc66cfc"
            ]
        ]
    },
    {
        "id": "437c51adccb5ac31",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle Monitoring",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "last_sub",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "CENTRE_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "host",
                "pt": "flow",
                "to": "WHOAMI",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbid",
                "pt": "flow",
                "to": "GB_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6c2aa04153a511ed",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Initialize",
        "info": "",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "051f1aadd5a065d6",
        "type": "redis-instance",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "server": "dd410bebb1e18cb0",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "b7063bd33192a3f5",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "uuid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "2d49c2d7293068cb"
            ]
        ]
    },
    {
        "id": "dd045490fff21a17",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.broker",
                "pt": "msg",
                "to": "MQTT_SUB_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_SUB_BROKER\"),/wss/) or $contains($env(\"MQTT_SUB_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_SUB_VERIFYCERT\")) = 0 ? false : $env(\"MQTT_SUB_VERIFYCERT\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_SUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_SUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_SUB_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_SUB_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "$length($env(\"GB_ID\")) = 0 ? payload : $env(\"GB_ID\") & \"_\" & $split(payload,\"-\")[4]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.keepalive",
                "pt": "msg",
                "to": "$length($env(\"MQTT_KEEPALIVE\")) = 0 ? 60 : $number($env(\"MQTT_KEEPALIVE\"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "5d2fc40d284feb0e"
            ]
        ]
    },
    {
        "id": "93a9fa867e314aa1",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.broker",
                "pt": "msg",
                "to": "MQTT_PUB_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_PUB_BROKER\"),/wss/) or $contains($env(\"MQTT_PUB_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_PUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_PUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_PUB_BROKERVERSION\")) = 0 ? 4 : $number($env(\"MQTT_PUB_BROKERVERSION\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "$env(\"CENTRE_ID\") & \"_\" & $split(payload,\"-\")[4]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "affbfac114622266"
            ]
        ]
    },
    {
        "id": "b1c3baa492255df2",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Sub ?",
        "property": "last_sub",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 1580,
        "wires": [
            [
                "87f62bece8e4dd67"
            ]
        ]
    },
    {
        "id": "80d75f8c9421968f",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Metadata check ?",
        "property": "$env(\"METADATA_CHECK_OPTION\") in [\"discard\",\"verify\"] and $split(topic,\"/\")[4] = \"data\"",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 2580,
        "wires": [
            [
                "17f796dad109ce1f"
            ],
            [
                "dc7851093f07bef3"
            ]
        ]
    },
    {
        "id": "dc7851093f07bef3",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "ff5a70d1daccfcd8"
        ],
        "x": 675,
        "y": 2600,
        "wires": []
    },
    {
        "id": "3dc527070675bf77",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "ff5a70d1daccfcd8"
        ],
        "x": 1235,
        "y": 2480,
        "wires": []
    },
    {
        "id": "775b0e5e08401ddf",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Discard ?",
        "property": "(  (  $env(\"METADATA_CHECK_OPTION\") = \"discard\" )  ? true : false ) ",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1280,
        "y": 2580,
        "wires": [
            [],
            [
                "e460a4e0e46f8b6b"
            ]
        ]
    },
    {
        "id": "ec969eba156a4f07",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "No Metadata",
        "metric": "7fee2b4a4a920926",
        "x": 1450,
        "y": 2540,
        "wires": []
    },
    {
        "id": "3b01c1f0f86b0b11",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 2540,
        "wires": [
            [
                "ec969eba156a4f07"
            ]
        ]
    },
    {
        "id": "e460a4e0e46f8b6b",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "ff5a70d1daccfcd8"
        ],
        "x": 1375,
        "y": 2580,
        "wires": []
    },
    {
        "id": "544ea0b45f6dc572",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Restore msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mqttpayload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqtttopic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 2580,
        "wires": [
            [
                "80d75f8c9421968f"
            ]
        ]
    },
    {
        "id": "2b3db2c16c988666",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 10",
        "links": [
            "714d2454d4276f86",
            "dbc51c795c74b90f",
            "f5aaa060b0d16106",
            "efad9ff6bfbdae5b",
            "d2b56dcdeec0d23c"
        ],
        "x": 265,
        "y": 2580,
        "wires": [
            [
                "544ea0b45f6dc572"
            ]
        ]
    },
    {
        "id": "dbc51c795c74b90f",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "2b3db2c16c988666"
        ],
        "x": 825,
        "y": 2500,
        "wires": []
    },
    {
        "id": "b367411c21cb904c",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Check",
        "func": "let topic = msg.topic;\n\nlet topicArray = topic.split(\"/\");\n\nif ([\"weather\", \"climate\", \"hydrology\", \"atmospheric-composition\", \"cryosphere\", \"ocean\", \"space-weather\"].includes(topicArray[6]) && topicArray[7] == \"experimental\") {\n    msg.check = true;\n    msg.topic = null;\n    return (msg);\n} \n\nlet topicShort = topicArray.splice(6, topicArray.length).join('/');\n\nmsg.payload = null;\n\nif ( topicArray[4] == \"metadata\" ) {\n    msg.check = true;\n    if (topicArray[5] != null) msg.topic = \"FT2025-2\"\n    else msg.topic = null;\n    return(msg);\n} \nelse {\n    if ((topicArray[4] == \"data\") && ( (topicArray[5] == \"core\") || (topicArray[5] == \"recommended\") ) ) {\n       msg.check = true;\n       msg.topic = \"topic_\" + md5(topicShort);\n       return(msg);\n    } \n    else {\n       msg.check = false;\n       msg.topic = null;\n       return(msg);\n    }\n}\n\n//  Formatted version of a popular md5 implementation\n//  Original copyright (c) Paul Johnston & Greg Holt.\n//  The function itself is now 42 lines long.\n\nfunction md5(inputString) {\n    var hc = \"0123456789abcdef\";\n    function rh(n) { var j, s = \"\"; for (j = 0; j <= 3; j++) s += hc.charAt((n >> (j * 8 + 4)) & 0x0F) + hc.charAt((n >> (j * 8)) & 0x0F); return s; }\n    function ad(x, y) { var l = (x & 0xFFFF) + (y & 0xFFFF); var m = (x >> 16) + (y >> 16) + (l >> 16); return (m << 16) | (l & 0xFFFF); }\n    function rl(n, c) { return (n << c) | (n >>> (32 - c)); }\n    function cm(q, a, b, x, s, t) { return ad(rl(ad(ad(a, q), ad(x, t)), s), b); }\n    function ff(a, b, c, d, x, s, t) { return cm((b & c) | ((~b) & d), a, b, x, s, t); }\n    function gg(a, b, c, d, x, s, t) { return cm((b & d) | (c & (~d)), a, b, x, s, t); }\n    function hh(a, b, c, d, x, s, t) { return cm(b ^ c ^ d, a, b, x, s, t); }\n    function ii(a, b, c, d, x, s, t) { return cm(c ^ (b | (~d)), a, b, x, s, t); }\n    function sb(x) {\n        var i; var nblk = ((x.length + 8) >> 6) + 1; var blks = new Array(nblk * 16); for (i = 0; i < nblk * 16; i++) blks[i] = 0;\n        for (i = 0; i < x.length; i++) blks[i >> 2] |= x.charCodeAt(i) << ((i % 4) * 8);\n        blks[i >> 2] |= 0x80 << ((i % 4) * 8); blks[nblk * 16 - 2] = x.length * 8; return blks;\n    }\n    var i, x = sb(\"\" + inputString), a = 1732584193, b = -271733879, c = -1732584194, d = 271733878, olda, oldb, oldc, oldd;\n    for (i = 0; i < x.length; i += 16) {\n        olda = a; oldb = b; oldc = c; oldd = d;\n        a = ff(a, b, c, d, x[i + 0], 7, -680876936); d = ff(d, a, b, c, x[i + 1], 12, -389564586); c = ff(c, d, a, b, x[i + 2], 17, 606105819);\n        b = ff(b, c, d, a, x[i + 3], 22, -1044525330); a = ff(a, b, c, d, x[i + 4], 7, -176418897); d = ff(d, a, b, c, x[i + 5], 12, 1200080426);\n        c = ff(c, d, a, b, x[i + 6], 17, -1473231341); b = ff(b, c, d, a, x[i + 7], 22, -45705983); a = ff(a, b, c, d, x[i + 8], 7, 1770035416);\n        d = ff(d, a, b, c, x[i + 9], 12, -1958414417); c = ff(c, d, a, b, x[i + 10], 17, -42063); b = ff(b, c, d, a, x[i + 11], 22, -1990404162);\n        a = ff(a, b, c, d, x[i + 12], 7, 1804603682); d = ff(d, a, b, c, x[i + 13], 12, -40341101); c = ff(c, d, a, b, x[i + 14], 17, -1502002290);\n        b = ff(b, c, d, a, x[i + 15], 22, 1236535329); a = gg(a, b, c, d, x[i + 1], 5, -165796510); d = gg(d, a, b, c, x[i + 6], 9, -1069501632);\n        c = gg(c, d, a, b, x[i + 11], 14, 643717713); b = gg(b, c, d, a, x[i + 0], 20, -373897302); a = gg(a, b, c, d, x[i + 5], 5, -701558691);\n        d = gg(d, a, b, c, x[i + 10], 9, 38016083); c = gg(c, d, a, b, x[i + 15], 14, -660478335); b = gg(b, c, d, a, x[i + 4], 20, -405537848);\n        a = gg(a, b, c, d, x[i + 9], 5, 568446438); d = gg(d, a, b, c, x[i + 14], 9, -1019803690); c = gg(c, d, a, b, x[i + 3], 14, -187363961);\n        b = gg(b, c, d, a, x[i + 8], 20, 1163531501); a = gg(a, b, c, d, x[i + 13], 5, -1444681467); d = gg(d, a, b, c, x[i + 2], 9, -51403784);\n        c = gg(c, d, a, b, x[i + 7], 14, 1735328473); b = gg(b, c, d, a, x[i + 12], 20, -1926607734); a = hh(a, b, c, d, x[i + 5], 4, -378558);\n        d = hh(d, a, b, c, x[i + 8], 11, -2022574463); c = hh(c, d, a, b, x[i + 11], 16, 1839030562); b = hh(b, c, d, a, x[i + 14], 23, -35309556);\n        a = hh(a, b, c, d, x[i + 1], 4, -1530992060); d = hh(d, a, b, c, x[i + 4], 11, 1272893353); c = hh(c, d, a, b, x[i + 7], 16, -155497632);\n        b = hh(b, c, d, a, x[i + 10], 23, -1094730640); a = hh(a, b, c, d, x[i + 13], 4, 681279174); d = hh(d, a, b, c, x[i + 0], 11, -358537222);\n        c = hh(c, d, a, b, x[i + 3], 16, -722521979); b = hh(b, c, d, a, x[i + 6], 23, 76029189); a = hh(a, b, c, d, x[i + 9], 4, -640364487);\n        d = hh(d, a, b, c, x[i + 12], 11, -421815835); c = hh(c, d, a, b, x[i + 15], 16, 530742520); b = hh(b, c, d, a, x[i + 2], 23, -995338651);\n        a = ii(a, b, c, d, x[i + 0], 6, -198630844); d = ii(d, a, b, c, x[i + 7], 10, 1126891415); c = ii(c, d, a, b, x[i + 14], 15, -1416354905);\n        b = ii(b, c, d, a, x[i + 5], 21, -57434055); a = ii(a, b, c, d, x[i + 12], 6, 1700485571); d = ii(d, a, b, c, x[i + 3], 10, -1894986606);\n        c = ii(c, d, a, b, x[i + 10], 15, -1051523); b = ii(b, c, d, a, x[i + 1], 21, -2054922799); a = ii(a, b, c, d, x[i + 8], 6, 1873313359);\n        d = ii(d, a, b, c, x[i + 15], 10, -30611744); c = ii(c, d, a, b, x[i + 6], 15, -1560198380); b = ii(b, c, d, a, x[i + 13], 21, 1309151649);\n        a = ii(a, b, c, d, x[i + 4], 6, -145523070); d = ii(d, a, b, c, x[i + 11], 10, -1120210379); c = ii(c, d, a, b, x[i + 2], 15, 718787259);\n        b = ii(b, c, d, a, x[i + 9], 21, -343485551); a = ad(a, olda); b = ad(b, oldb); c = ad(c, oldc); d = ad(d, oldd);\n    }\n    return rh(a) + rh(b) + rh(c) + rh(d);\n}\n  \n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 2400,
        "wires": [
            [
                "4ac08b391b532d20"
            ]
        ]
    },
    {
        "id": "4ac08b391b532d20",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Result",
        "property": "check",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "jsonata_exp",
                "v": "$type(topic) = 'null'",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "topic = \"FT2025-2\"",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "$type(topic) = 'string'",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 470,
        "y": 2400,
        "wires": [
            [
                "fa4c3cbed535aba3"
            ],
            [
                "efad9ff6bfbdae5b"
            ],
            [
                "efad9ff6bfbdae5b",
                "d4304c99caba02e4"
            ],
            [
                "ec8e2eeb9ceb6ebb"
            ]
        ]
    },
    {
        "id": "ec8e2eeb9ceb6ebb",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "server": "dd410bebb1e18cb0",
        "command": "GET",
        "name": "Get",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 610,
        "y": 2460,
        "wires": [
            [
                "12b28634fce3d9a0"
            ]
        ]
    },
    {
        "id": "12b28634fce3d9a0",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Valid ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 2460,
        "wires": [
            [
                "f2a77929465ade4f",
                "e4071c69374aa3a4",
                "df49419d7601b87d"
            ],
            [
                "dbc51c795c74b90f"
            ]
        ]
    },
    {
        "id": "f2a77929465ade4f",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Discard ?",
        "property": "$env(\"TOPIC_CHECK_OPTION\") = \"discard\"",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 2380,
        "wires": [
            [],
            [
                "f5aaa060b0d16106"
            ]
        ]
    },
    {
        "id": "bf376dc2dfd3bf3e",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Invalid Topic",
        "metric": "c58a8bf69230d14f",
        "x": 1130,
        "y": 2340,
        "wires": []
    },
    {
        "id": "e4071c69374aa3a4",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 2340,
        "wires": [
            [
                "bf376dc2dfd3bf3e"
            ]
        ]
    },
    {
        "id": "f5aaa060b0d16106",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "2b3db2c16c988666"
        ],
        "x": 1075,
        "y": 2380,
        "wires": []
    },
    {
        "id": "efad9ff6bfbdae5b",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "2b3db2c16c988666"
        ],
        "x": 575,
        "y": 2380,
        "wires": []
    },
    {
        "id": "fa4c3cbed535aba3",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 23",
        "mode": "link",
        "links": [
            "352b870c0bdaf6d0"
        ],
        "x": 575,
        "y": 2340,
        "wires": []
    },
    {
        "id": "352b870c0bdaf6d0",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 11",
        "links": [
            "fa4c3cbed535aba3"
        ],
        "x": 775,
        "y": 2340,
        "wires": [
            [
                "e4071c69374aa3a4",
                "f2a77929465ade4f"
            ]
        ]
    },
    {
        "id": "d11e2b1d34dad0bf",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 12",
        "links": [
            "ee7abda9b65a0828"
        ],
        "x": 265,
        "y": 2400,
        "wires": [
            [
                "b367411c21cb904c"
            ]
        ]
    },
    {
        "id": "7dbcb641d60081bf",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "Refresh allowed topics",
        "info": "",
        "x": 320,
        "y": 1840,
        "wires": []
    },
    {
        "id": "9830b7b725f14d83",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "Soon ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "5400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 1900,
        "wires": [
            [
                "35db291da8249070"
            ]
        ]
    },
    {
        "id": "bc302c2998d5d05c",
        "type": "http request",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "WTH",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/golfvert/wis2-topic-hierarchy/main/earth-system-discipline-and-below.md5.txt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 1900,
        "wires": [
            [
                "51d2cea964219b92",
                "d32a7dac59dfaf10"
            ]
        ]
    },
    {
        "id": "51d2cea964219b92",
        "type": "split",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 950,
        "y": 1900,
        "wires": [
            [
                "dc672f4c2f5746bc"
            ]
        ]
    },
    {
        "id": "dc672f4c2f5746bc",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"topic_\" & payload,true,\"EX\",172800]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1900,
        "wires": [
            [
                "3edb5da5e7941c37"
            ]
        ]
    },
    {
        "id": "3edb5da5e7941c37",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "server": "dd410bebb1e18cb0",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1190,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "a928c6d420cd98cd",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "link in 13",
        "links": [
            "2d49c2d7293068cb"
        ],
        "x": 625,
        "y": 1860,
        "wires": [
            [
                "35db291da8249070"
            ]
        ]
    },
    {
        "id": "2d49c2d7293068cb",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "link out 25",
        "mode": "link",
        "links": [
            "a928c6d420cd98cd",
            "cb2097a75dbc0e68",
            "bdb9a5a89aa0d9b3"
        ],
        "x": 655,
        "y": 200,
        "wires": []
    },
    {
        "id": "d32a7dac59dfaf10",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "Expire",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"uuid_\" & $flowContext(\"uuid\"),true,\"EX\",$floor(($random()+0.5)*86400)]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1860,
        "wires": [
            [
                "aeb035ff965d3e07"
            ]
        ]
    },
    {
        "id": "aeb035ff965d3e07",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "server": "dd410bebb1e18cb0",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1070,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "15b891b1eaae02bc",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "TTL",
        "props": [
            {
                "p": "topic",
                "v": "[ \"uuid_\" & $flowContext(\"uuid\") ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 1900,
        "wires": [
            [
                "cb97214fc946340e"
            ]
        ]
    },
    {
        "id": "cb97214fc946340e",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "server": "dd410bebb1e18cb0",
        "command": "TTL",
        "name": "TTL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 450,
        "y": 1900,
        "wires": [
            [
                "9830b7b725f14d83"
            ]
        ]
    },
    {
        "id": "3f243d36cf7b774d",
        "type": "delay",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "Random",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "5",
        "randomLast": "180",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 355,
        "y": 1900,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "a2b990cc2ac4b822",
        "type": "json-full-schema-validator",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "WNM",
        "property": "payload",
        "propertyType": "msg",
        "func": "",
        "x": 1070,
        "y": 2740,
        "wires": [
            [
                "f8b75275aeb43797"
            ],
            [
                "343e0c53a688e686",
                "88fdc7d698acb2d7",
                "1304c39f28775a40"
            ]
        ]
    },
    {
        "id": "dc4c13902bf14d5a",
        "type": "http request",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Get",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 280,
        "wires": [
            [
                "4601d57ef159d094"
            ]
        ]
    },
    {
        "id": "e562836651255c95",
        "type": "json",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 950,
        "y": 240,
        "wires": [
            [
                "17ec0cec1cf800f0"
            ]
        ]
    },
    {
        "id": "17ec0cec1cf800f0",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Schema",
        "rules": [
            {
                "t": "set",
                "p": "schema",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "7421a7bbf5efbc25"
            ]
        ]
    },
    {
        "id": "a2d55fdc5f93394d",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "URL",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "SCHEMA_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "dc4c13902bf14d5a"
            ]
        ]
    },
    {
        "id": "8dafdd8865d5f168",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$split($env(\"MQTT_SUB_TOPIC\"),\",\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 2120,
        "wires": [
            [
                "0ba924a28af55b20"
            ]
        ]
    },
    {
        "id": "1ab497b74638e16e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Schema",
        "rules": [
            {
                "t": "set",
                "p": "schema",
                "pt": "msg",
                "to": "schema",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 2740,
        "wires": [
            [
                "a2b990cc2ac4b822"
            ]
        ]
    },
    {
        "id": "72c0f0ca72d21c67",
        "type": "catch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Subscriber",
        "scope": [
            "0ba924a28af55b20",
            "7a263ef696031b44"
        ],
        "uncaught": false,
        "x": 1040,
        "y": 2660,
        "wires": [
            [
                "343e0c53a688e686",
                "e65d663a042a0a9e"
            ]
        ]
    },
    {
        "id": "02167eb395a3423a",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Catch error on not JSON WNM",
        "info": "",
        "x": 370,
        "y": 2680,
        "wires": []
    },
    {
        "id": "84aa094dcec4b4eb",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "K8s",
        "rules": [
            {
                "t": "set",
                "p": "k8s",
                "pt": "flow",
                "to": "$length($env(\"POD_NAME\")) = 0 ? false : $env(\"POD_NAME\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "fb872857136145a0",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "K8s ?",
        "property": "k8s",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 3520,
        "wires": [
            [
                "1972856ebcf4fd08"
            ],
            [
                "8fb0ec6470571fd1"
            ]
        ]
    },
    {
        "id": "8fb0ec6470571fd1",
        "type": "http request",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Pod",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:4040",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 3560,
        "wires": [
            [
                "e4140757ba2e1d5d"
            ]
        ]
    },
    {
        "id": "e4140757ba2e1d5d",
        "type": "json",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 3560,
        "wires": [
            [
                "e3a7bdd291dc874f"
            ]
        ]
    },
    {
        "id": "e3a7bdd291dc874f",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Master ?",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "k8s",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 780,
        "y": 3560,
        "wires": [
            [
                "264ce3bcd8f56fe2"
            ],
            [
                "225fb9b32f8b87a0"
            ]
        ]
    },
    {
        "id": "264ce3bcd8f56fe2",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Primary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "primary",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3540,
        "wires": [
            [
                "1437e30492222fdc"
            ]
        ]
    },
    {
        "id": "1437e30492222fdc",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "5a5ed27cce4a9ee1"
        ],
        "x": 1045,
        "y": 3480,
        "wires": []
    },
    {
        "id": "5a5ed27cce4a9ee1",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link in 14",
        "links": [
            "1437e30492222fdc"
        ],
        "x": 225,
        "y": 3760,
        "wires": [
            [
                "f41773382fda2a90"
            ]
        ]
    },
    {
        "id": "225fb9b32f8b87a0",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Secondary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "secondary",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 3580,
        "wires": [
            [
                "1437e30492222fdc"
            ]
        ]
    },
    {
        "id": "0b7db5e2a563f7ee",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "K8s ?",
        "property": "k8s",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 3420,
        "wires": [
            [
                "fa24a2f54b4ae1a2"
            ]
        ]
    },
    {
        "id": "3f291a7f649259e7",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "K8s ?",
        "property": "k8s",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 3680,
        "wires": [
            [
                "b6e7189343a699c5",
                "1fb5a0fd9a1d867e"
            ]
        ]
    },
    {
        "id": "a9c4d402f2216f61",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "K8s ?",
        "property": "k8s",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 3860,
        "wires": [
            [
                "11e84d462d0da702"
            ]
        ]
    },
    {
        "id": "35db291da8249070",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "URL",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$length($env(\"TOPIC_URL\")) = 0 ? \"https://raw.githubusercontent.com/golfvert/wis2-topic-hierarchy/main/earth-system-discipline-and-below.md5.txt\" : $env(\"TOPIC_URL\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1900,
        "wires": [
            [
                "bc302c2998d5d05c"
            ]
        ]
    },
    {
        "id": "3e276eaf84e46111",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Topic check ?",
        "property": "$env(\"TOPIC_CHECK_OPTION\") in [\"discard\",\"verify\"] ",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 2200,
        "wires": [
            [
                "ee7abda9b65a0828"
            ],
            [
                "714d2454d4276f86"
            ]
        ]
    },
    {
        "id": "ee7abda9b65a0828",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "d11e2b1d34dad0bf"
        ],
        "x": 795,
        "y": 2180,
        "wires": []
    },
    {
        "id": "714d2454d4276f86",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "2b3db2c16c988666"
        ],
        "x": 795,
        "y": 2220,
        "wires": []
    },
    {
        "id": "04fbb71a261a5a42",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "a600594b010f79b6"
        ],
        "x": 1015,
        "y": 2120,
        "wires": []
    },
    {
        "id": "a600594b010f79b6",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 15",
        "links": [
            "04fbb71a261a5a42"
        ],
        "x": 265,
        "y": 2220,
        "wires": [
            [
                "5ae11166c7e08eee"
            ]
        ]
    },
    {
        "id": "01a8d6c00cfa4ed4",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "id ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "id",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 2220,
        "wires": [
            [
                "3e276eaf84e46111"
            ],
            [
                "eafdcbad91d4038e",
                "f9f3a1e93e70df28"
            ]
        ]
    },
    {
        "id": "eafdcbad91d4038e",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 28",
        "mode": "link",
        "links": [
            "913733ee81aec859",
            "7e19b019fecfe305"
        ],
        "x": 595,
        "y": 2240,
        "wires": []
    },
    {
        "id": "913733ee81aec859",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 16",
        "links": [
            "eafdcbad91d4038e"
        ],
        "x": 1075,
        "y": 2700,
        "wires": [
            [
                "343e0c53a688e686"
            ]
        ]
    },
    {
        "id": "64b694757cc66cfc",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "UUID",
        "func": "msg.payload = crypto.randomUUID();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "b7063bd33192a3f5",
                "84aa094dcec4b4eb",
                "a2d55fdc5f93394d",
                "dd045490fff21a17",
                "93a9fa867e314aa1",
                "7e94bbf4b7e030a2",
                "5fcd6ca3d9f16c53",
                "04030da87c97a7e6",
                "d951ba2efcf687a6",
                "11ac8309f0b927d3",
                "e16278c4105cfffa"
            ]
        ],
        "info": "Create a random UUID to track various aspects of the container."
    },
    {
        "id": "5ae11166c7e08eee",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Save msg",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "mqtttopic",
                "pt": "msg",
                "to": "topic",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2220,
        "wires": [
            [
                "01a8d6c00cfa4ed4"
            ]
        ]
    },
    {
        "id": "28044557835421f6",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 29",
        "mode": "link",
        "links": [
            "2c4139ee09b1643e"
        ],
        "x": 735,
        "y": 2280,
        "wires": []
    },
    {
        "id": "f9f3a1e93e70df28",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Exception",
        "rules": [
            {
                "t": "set",
                "p": "exception",
                "pt": "msg",
                "to": "{\t   \"code\": \"invalid-schema\",\t   \"description\": \"WIS2 Notification Message not compliant with the defined schema\",\t   \"errors\": \t   [\t      {\t      \"keyword\": \"required\",\t      \"dataPath\": \"\",\t      \"schemaPath\": \"#/oneOf/0/required\",\t      \"params\": {\t         \"missingProperty\": \"id\"\t      },\t      \"message\": \"should have required property 'id'\"\t      }\t   ]\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 2280,
        "wires": [
            [
                "28044557835421f6"
            ]
        ]
    },
    {
        "id": "2c4139ee09b1643e",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 17",
        "links": [
            "28044557835421f6",
            "7f9e9fa8e761b1d0",
            "e9481475ba807981",
            "3e59395ae80ba3c9"
        ],
        "x": 265,
        "y": 3120,
        "wires": [
            [
                "84972c6fa7c3556a"
            ]
        ]
    },
    {
        "id": "84972c6fa7c3556a",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "UUID",
        "func": "msg.uuid = crypto.randomUUID();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 350,
        "y": 3120,
        "wires": [
            [
                "3db0281cd705b3bc"
            ]
        ]
    },
    {
        "id": "3db0281cd705b3bc",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Cloud",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t  \"specversion\": \"1.0\",\t  \"type\": \"int.wmo.wis.wme.event.wnm.schema\",\t  \"source\": $flowContext(\"gbid\"),\t  \"subject\": $flowContext(\"centreid\"),\t  \"id\": uuid,\t  \"time\": $fromMillis($millis(),'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01].[f003]Z'),\t  \"datacontenttype\": \"application/json\",\t  \"dataschema\": \"https://raw.githubusercontent.com/wmo-im/wis2-monitoring-events/refs/heads/main/schemas/wnm-report-bundled.json\",\t  \"data\": {\t      \"topic\": mqtttopic,\t      \"wnm\": mqttpayload,\t      \"exception\": exception\t    }\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"monitor/a/wis2/\" &  $flowContext(\"centreid\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 3120,
        "wires": [
            [
                "e1e0a2bf24cab809",
                "9823cd1371a656bd"
            ]
        ]
    },
    {
        "id": "e1e0a2bf24cab809",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 600,
        "y": 3120,
        "wires": []
    },
    {
        "id": "7f9e9fa8e761b1d0",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 30",
        "mode": "link",
        "links": [
            "2c4139ee09b1643e"
        ],
        "x": 1075,
        "y": 2420,
        "wires": []
    },
    {
        "id": "df49419d7601b87d",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Exception",
        "rules": [
            {
                "t": "set",
                "p": "exception",
                "pt": "msg",
                "to": "{\t   \"code\": \"invalid-topic\",       \"description\": \"WIS2 Notification Message published on a invalid topic\",\t           \"errors\": error\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 2420,
        "wires": [
            [
                "7f9e9fa8e761b1d0"
            ]
        ]
    },
    {
        "id": "f991a21e2b607b2a",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Exception",
        "rules": [
            {
                "t": "set",
                "p": "exception",
                "pt": "msg",
                "to": "{\"code\":\"missing-metadata\",\"description\":\"Missing Metadata record for data announced in WIS2 Notification Message\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 2620,
        "wires": [
            [
                "e9481475ba807981"
            ]
        ]
    },
    {
        "id": "e9481475ba807981",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 31",
        "mode": "link",
        "links": [
            "2c4139ee09b1643e"
        ],
        "x": 1375,
        "y": 2620,
        "wires": []
    },
    {
        "id": "3e59395ae80ba3c9",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 32",
        "mode": "link",
        "links": [
            "2c4139ee09b1643e"
        ],
        "x": 1355,
        "y": 2820,
        "wires": []
    },
    {
        "id": "ecd4cba1d3c3ffc0",
        "type": "status",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Primary",
        "scope": [
            "5d2fc40d284feb0e"
        ],
        "x": 250,
        "y": 2120,
        "wires": [
            [
                "db6692c486872572"
            ]
        ]
    },
    {
        "id": "db6692c486872572",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Green ?",
        "property": "status.fill",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 2120,
        "wires": [
            [
                "8dafdd8865d5f168"
            ]
        ]
    },
    {
        "id": "1304c39f28775a40",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Add exception",
        "rules": [
            {
                "t": "set",
                "p": "exception",
                "pt": "msg",
                "to": "{       \t    \"code\": \"invalid-schema\",\t    \"description\": \"WIS2 Notification Message not compliant with the defined schema\",\t    \"errors\": error\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2820,
        "wires": [
            [
                "3e59395ae80ba3c9"
            ]
        ]
    },
    {
        "id": "691a855ade1dae47",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Invalid Topic",
        "metric": "c58a8bf69230d14f",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "7e94bbf4b7e030a2",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":0\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "691a855ade1dae47",
                "dc84513231e963ea",
                "c3ff87f232ec8d67"
            ]
        ]
    },
    {
        "id": "dc84513231e963ea",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "No Metadata",
        "metric": "7fee2b4a4a920926",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "c3ff87f232ec8d67",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Invalid Format",
        "metric": "c344793f83ad40d6",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "d491cee4bda22ed8",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle backup connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_SUB_BROKER_BACKUP",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_SUB_BROKER_BACKUP\"),/wss/) or $contains($env(\"MQTT_SUB_BROKER_BACKUP\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_SUB_VERIFYCERT_BACKUP\")) = 0 ? false : $env(\"MQTT_SUB_VERIFYCERT_BACKUP\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_SUB_USERNAME_BACKUP",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_SUB_PASSWORD_BACKUP",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_SUB_BROKERVERSION_BACKUP\")) = 0 ? 4 : $env(\"MQTT_SUB_BROKERVERSION_BACKUP\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "$length($env(\"MQTT_CLIENTID_BACKUP\")) = 0 ? payload : $env(\"MQTT_CLIENTID_BACKUP\") & \"_\" & $split(payload,\"-\")[4]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 320,
        "wires": [
            [
                "0d744b50e957cbff"
            ]
        ]
    },
    {
        "id": "5fcd6ca3d9f16c53",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Backup ?",
        "property": "$length($env(\"MQTT_SUB_BROKER_BACKUP\")) != 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "78d502b560d7183e"
            ]
        ]
    },
    {
        "id": "d529935874772fda",
        "type": "status",
        "z": "3af82246.3634ae",
        "g": "5bab0e2a46b1d524",
        "name": "Primary",
        "scope": [
            "0ba924a28af55b20",
            "5d2fc40d284feb0e"
        ],
        "x": 250,
        "y": 1180,
        "wires": [
            [
                "cb051f965faa6650"
            ]
        ]
    },
    {
        "id": "cb051f965faa6650",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "5bab0e2a46b1d524",
        "name": "Status ?",
        "property": "status.fill",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 380,
        "y": 1180,
        "wires": [
            [
                "9e78fca5a8e70540"
            ],
            [
                "9e78fca5a8e70540"
            ],
            [
                "c7268026820f0d77"
            ]
        ]
    },
    {
        "id": "9e78fca5a8e70540",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "5bab0e2a46b1d524",
        "name": "Backup ?",
        "property": "$length($env(\"MQTT_SUB_BROKER_BACKUP\")) != 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 1160,
        "wires": [
            [
                "4c72ff24ea2126e9"
            ]
        ]
    },
    {
        "id": "c7268026820f0d77",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "5bab0e2a46b1d524",
        "name": "Backup ?",
        "property": "$length($env(\"MQTT_SUB_BROKER_BACKUP\")) != 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 1200,
        "wires": [
            [
                "13f7abade4e860f4"
            ]
        ]
    },
    {
        "id": "4c72ff24ea2126e9",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "5bab0e2a46b1d524",
        "name": "Connect",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1160,
        "wires": [
            [
                "bef0008ad5302c2b"
            ]
        ]
    },
    {
        "id": "bef0008ad5302c2b",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "g": "5bab0e2a46b1d524",
        "name": "Backup ",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "8edeadf2c89adf8d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 830,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "13f7abade4e860f4",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "5bab0e2a46b1d524",
        "name": "Disconnect",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "disconnect",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1200,
        "wires": [
            [
                "bef0008ad5302c2b"
            ]
        ]
    },
    {
        "id": "7a263ef696031b44",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Backup",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "8edeadf2c89adf8d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 2060,
        "wires": [
            [
                "f0fc3d4efdfc4442"
            ]
        ]
    },
    {
        "id": "290c1b9a75e1e79c",
        "type": "status",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Backup",
        "scope": [
            "0d744b50e957cbff"
        ],
        "x": 250,
        "y": 2060,
        "wires": [
            [
                "79c2cb901aa900f8"
            ]
        ]
    },
    {
        "id": "79c2cb901aa900f8",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Green ?",
        "property": "status.fill",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 2060,
        "wires": [
            [
                "55f9320f452845df"
            ]
        ]
    },
    {
        "id": "55f9320f452845df",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$split($env(\"MQTT_SUB_TOPIC\"),\",\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 2060,
        "wires": [
            [
                "7a263ef696031b44"
            ]
        ]
    },
    {
        "id": "78d502b560d7183e",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "UUID",
        "func": "msg.payload = crypto.randomUUID();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 710,
        "y": 320,
        "wires": [
            [
                "d491cee4bda22ed8"
            ]
        ]
    },
    {
        "id": "079b3d6251c543fe",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "5bab0e2a46b1d524",
        "name": "Manage Backup Broker",
        "info": "",
        "x": 300,
        "y": 1100,
        "wires": []
    },
    {
        "id": "7421a7bbf5efbc25",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnm_schema\",$base64encode($string(payload)),\"EX\",172800]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 240,
        "wires": [
            [
                "6782baed77d78021"
            ]
        ]
    },
    {
        "id": "6782baed77d78021",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "server": "dd410bebb1e18cb0",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1330,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4601d57ef159d094",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Code ?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 280,
        "wires": [
            [
                "e562836651255c95"
            ],
            [
                "94c550d8678f1786"
            ]
        ]
    },
    {
        "id": "94c550d8678f1786",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Schema",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "wnm_schema",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 280,
        "wires": [
            [
                "e6f11bbd84e2813a"
            ]
        ]
    },
    {
        "id": "e6f11bbd84e2813a",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "server": "dd410bebb1e18cb0",
        "command": "GET",
        "name": "Get",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1090,
        "y": 280,
        "wires": [
            [
                "7553ae3a6a465f09"
            ]
        ]
    },
    {
        "id": "7553ae3a6a465f09",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "schema",
                "pt": "flow",
                "to": "$eval($base64decode(payload))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5002c1a8362535fa",
        "type": "status",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Backup",
        "scope": [
            "0d744b50e957cbff"
        ],
        "x": 250,
        "y": 840,
        "wires": [
            [
                "2dccfafe11e0a4df"
            ]
        ]
    },
    {
        "id": "65cadcd270c673e6",
        "type": "status",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Primary",
        "scope": [
            "5d2fc40d284feb0e"
        ],
        "x": 250,
        "y": 880,
        "wires": [
            [
                "72d0fec8655e3fa4"
            ]
        ]
    },
    {
        "id": "72d0fec8655e3fa4",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Connected ?",
        "rules": [
            {
                "t": "set",
                "p": "primary_connected",
                "pt": "flow",
                "to": "( status.fill = \"green\" ) ? true : false",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 880,
        "wires": [
            [
                "163bec2fefa62a7c"
            ]
        ]
    },
    {
        "id": "2dccfafe11e0a4df",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Connected ?",
        "rules": [
            {
                "t": "set",
                "p": "backup_connected",
                "pt": "flow",
                "to": "( status.fill = \"green\" ) ? true : false",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 840,
        "wires": [
            [
                "163bec2fefa62a7c"
            ]
        ]
    },
    {
        "id": "d719d4363f90aa8e",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Connected",
        "mode": "link",
        "links": [
            "cc90e145bb4ca7fd"
        ],
        "x": 1210,
        "y": 2080,
        "wires": [],
        "l": true
    },
    {
        "id": "cc90e145bb4ca7fd",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "link in 19",
        "links": [
            "d719d4363f90aa8e"
        ],
        "x": 745,
        "y": 820,
        "wires": [
            [
                "9bbd025173277f48"
            ]
        ]
    },
    {
        "id": "bb88671482bf992f",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "Refresh metadata channels",
        "info": "",
        "x": 340,
        "y": 1680,
        "wires": []
    },
    {
        "id": "3b0765845f999be7",
        "type": "http request",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "GDC",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 1740,
        "wires": [
            [
                "9fb4e17ee94bc71b"
            ]
        ]
    },
    {
        "id": "6d8b0561548a5ede",
        "type": "split",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 1090,
        "y": 1740,
        "wires": [
            [
                "691dac0a89d189f9"
            ]
        ]
    },
    {
        "id": "9accdaa298e6f733",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "centre_id_key",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "metadata_id_key",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "centre_id_key",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 1740,
        "wires": [
            [
                "228ec0fd12c7c4a8"
            ]
        ]
    },
    {
        "id": "228ec0fd12c7c4a8",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "server": "dd410bebb1e18cb0",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1490,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "cb2097a75dbc0e68",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "link in 18",
        "links": [
            "2d49c2d7293068cb"
        ],
        "x": 645,
        "y": 1700,
        "wires": [
            [
                "d4615f4385a2f0d4"
            ]
        ]
    },
    {
        "id": "0f92cbf1103eca1a",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "Refresh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"metadata_id_refresh\", $toMillis($now())]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1700,
        "wires": [
            [
                "507b28c4149ac133"
            ]
        ]
    },
    {
        "id": "507b28c4149ac133",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "server": "dd410bebb1e18cb0",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1230,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "f62e57c3059db262",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "server": "dd410bebb1e18cb0",
        "command": "GET",
        "name": "GET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 470,
        "y": 1740,
        "wires": [
            [
                "83470c69926a4c78"
            ]
        ]
    },
    {
        "id": "9bb2075a70951241",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "Refresh",
        "props": [
            {
                "p": "topic",
                "v": "[ \"metadata_id_refresh\" ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "x": 280,
        "y": 1740,
        "wires": [
            [
                "a3928b9a44530883"
            ]
        ]
    },
    {
        "id": "a3928b9a44530883",
        "type": "delay",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "Random",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "5",
        "randomLast": "30",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 385,
        "y": 1740,
        "wires": [
            [
                "f62e57c3059db262"
            ]
        ],
        "l": false
    },
    {
        "id": "d4615f4385a2f0d4",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "URL",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$length($env(\"GDC_URL\")) = 0 ? \"https://wmo-im.github.io/wis2-guide/gdc-all-channels-latest.txt\" : $env(\"GDC_URL\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1740,
        "wires": [
            [
                "3b0765845f999be7"
            ]
        ]
    },
    {
        "id": "9fb4e17ee94bc71b",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "200 ?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 1740,
        "wires": [
            [
                "0f92cbf1103eca1a",
                "6d8b0561548a5ede"
            ]
        ]
    },
    {
        "id": "691dac0a89d189f9",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$split(payload,\",\")[1]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "metadata",
                "pt": "msg",
                "to": "$split(payload,\",\")[0]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "$split(metadata,\":\")[3]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "metadata_id_key",
                "pt": "msg",
                "to": "[ \"metadata_id:\" & metadata & \":\" & topic , true , \"EX\" , 1209600 ]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centre_id_key",
                "pt": "msg",
                "to": "[ \"metadata_id:\" & centreid & \":\" & topic , true , \"EX\" , 1209600 ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "metadata",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "centreid",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 1740,
        "wires": [
            [
                "9accdaa298e6f733",
                "a8a0986844328c2b"
            ]
        ]
    },
    {
        "id": "a8a0986844328c2b",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "metadata_id_key",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "metadata_id_key",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "centre_id_key",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 1700,
        "wires": [
            [
                "4a06872105653c54"
            ]
        ]
    },
    {
        "id": "4a06872105653c54",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "server": "dd410bebb1e18cb0",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1490,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "83470c69926a4c78",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "f963686654f132ac",
        "name": "Soon ?",
        "property": "payload = null ",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "jsonata_exp",
                "v": "$toMillis($now()) - $number(payload) >= 600000",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 1740,
        "wires": [
            [
                "d4615f4385a2f0d4"
            ],
            [
                "d4615f4385a2f0d4"
            ]
        ]
    },
    {
        "id": "f19c23244c54e367",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "server": "dd410bebb1e18cb0",
        "command": "GET",
        "name": "Get",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1010,
        "y": 2560,
        "wires": [
            [
                "eebf23432bdf5c12"
            ]
        ]
    },
    {
        "id": "eebf23432bdf5c12",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Valid ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 2560,
        "wires": [
            [
                "3dc527070675bf77"
            ],
            [
                "3b01c1f0f86b0b11",
                "775b0e5e08401ddf",
                "f991a21e2b607b2a"
            ]
        ]
    },
    {
        "id": "17f796dad109ce1f",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Metadata_id ?",
        "property": "$type(payload.properties.metadata_id) = \"string\" and $length(payload.properties.metadata_id) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 2560,
        "wires": [
            [
                "d7bc6895152a0bbb"
            ],
            [
                "8ce93a54e79404b3"
            ]
        ]
    },
    {
        "id": "d7bc6895152a0bbb",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Query",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"metadata_id:\" & payload.properties.metadata_id & \":\" & $substringAfter($substringAfter(topic,\"wis2/\") ,\"/\")",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2540,
        "wires": [
            [
                "f19c23244c54e367"
            ]
        ]
    },
    {
        "id": "8ce93a54e79404b3",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Query",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"metadata_id:\" & $flowContext(\"centreid\") & \":\" & $substringAfter($substringAfter(topic,\"wis2/\") ,\"/\")",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2580,
        "wires": [
            [
                "f19c23244c54e367"
            ]
        ]
    },
    {
        "id": "33170c2549d5ffe3",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Restore msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mqttpayload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqtttopic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 2780,
        "wires": [
            [
                "2fb43f7ea596c984"
            ]
        ]
    },
    {
        "id": "5d2fc40d284feb0e",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Define Subscriber",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8cf5f6b5.937088",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "affbfac114622266",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Define Publisher",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "e65d663a042a0a9e",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 33",
        "mode": "link",
        "links": [
            "53059b8651e0f42c"
        ],
        "x": 1175,
        "y": 2660,
        "wires": []
    },
    {
        "id": "53059b8651e0f42c",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 20",
        "links": [
            "e65d663a042a0a9e"
        ],
        "x": 865,
        "y": 2800,
        "wires": [
            [
                "f21471fac0b612dd"
            ]
        ]
    },
    {
        "id": "f21471fac0b612dd",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "error",
                "pt": "msg",
                "to": "Notification Message is not JSON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 2800,
        "wires": [
            [
                "1304c39f28775a40"
            ]
        ]
    },
    {
        "id": "0d744b50e957cbff",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Define Backup",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8edeadf2c89adf8d",
        "x": 1120,
        "y": 320,
        "wires": []
    },
    {
        "id": "7e19b019fecfe305",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 21",
        "links": [
            "eafdcbad91d4038e"
        ],
        "x": 865,
        "y": 2840,
        "wires": [
            [
                "c0a6bc1c0593ea62"
            ]
        ]
    },
    {
        "id": "c0a6bc1c0593ea62",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "error",
                "pt": "msg",
                "to": "No id in WNM",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 2840,
        "wires": [
            [
                "1304c39f28775a40"
            ]
        ]
    },
    {
        "id": "fcde7b4b83fc45d2",
        "type": "status",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Publisher",
        "scope": [
            "affbfac114622266"
        ],
        "x": 260,
        "y": 980,
        "wires": [
            [
                "4a5f81d539e114f1"
            ]
        ]
    },
    {
        "id": "695c774f6a4a856c",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "link in 22",
        "links": [
            "bf84f00af773ae55",
            "9204f8d517897d74"
        ],
        "x": 385,
        "y": 940,
        "wires": [
            [
                "4a5f81d539e114f1"
            ]
        ]
    },
    {
        "id": "4a5f81d539e114f1",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 420,
        "y": 980,
        "wires": [
            [
                "39af1a7eaf26c282"
            ]
        ]
    },
    {
        "id": "39af1a7eaf26c282",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Status ?",
        "property": "status.fill",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 980,
        "wires": [
            [
                "f161d5e88609338c"
            ],
            [
                "f161d5e88609338c"
            ],
            [
                "8f963441c43db583"
            ]
        ]
    },
    {
        "id": "f161d5e88609338c",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\": 0\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 960,
        "wires": [
            [
                "40065405ae45eebb"
            ]
        ]
    },
    {
        "id": "8f963441c43db583",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\": 1\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1000,
        "wires": [
            [
                "40065405ae45eebb"
            ]
        ]
    },
    {
        "id": "40065405ae45eebb",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Pub",
        "metric": "317936126dce3abb",
        "x": 880,
        "y": 980,
        "wires": []
    },
    {
        "id": "04030da87c97a7e6",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "BROKER_2",
        "property": "MQTT_PUB_BROKER_2",
        "propertyType": "env",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "e0952c14ace44c8c"
            ]
        ]
    },
    {
        "id": "adf9f9e953278517",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Define Publisher 2",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "80fd19a79e7bbf69",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "e0952c14ace44c8c",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.broker",
                "pt": "msg",
                "to": "MQTT_PUB_BROKER_2",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_PUB_BROKER_2\"),/wss/) or $contains($env(\"MQTT_PUB_BROKER_2\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_PUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_PUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_PUB_BROKERVERSION\")) = 0 ? 4 : $number($env(\"MQTT_PUB_BROKERVERSION\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "$env(\"CENTRE_ID\") & \"_\" & $split(payload,\"-\")[4]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 440,
        "wires": [
            [
                "adf9f9e953278517"
            ]
        ]
    },
    {
        "id": "d951ba2efcf687a6",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "BROKER_3",
        "property": "MQTT_PUB_BROKER_3",
        "propertyType": "env",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "5516fa767bc09550"
            ]
        ]
    },
    {
        "id": "5516fa767bc09550",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.broker",
                "pt": "msg",
                "to": "MQTT_PUB_BROKER_3",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_PUB_BROKER_3\"),/wss/) or $contains($env(\"MQTT_PUB_BROKER_3\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_PUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_PUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_PUB_BROKERVERSION\")) = 0 ? 4 : $number($env(\"MQTT_PUB_BROKERVERSION\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "$env(\"CENTRE_ID\") & \"_\" & $split(payload,\"-\")[4]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 480,
        "wires": [
            [
                "87d31bf57fc4368a"
            ]
        ]
    },
    {
        "id": "87d31bf57fc4368a",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Define Publisher 3",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e934cf45bdf5a8aa",
        "x": 970,
        "y": 480,
        "wires": []
    },
    {
        "id": "11ac8309f0b927d3",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "BROKER_4",
        "property": "MQTT_PUB_BROKER_4",
        "propertyType": "env",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "4a87ce4b98a6bbc8"
            ]
        ]
    },
    {
        "id": "4a87ce4b98a6bbc8",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.broker",
                "pt": "msg",
                "to": "MQTT_PUB_BROKER_4",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_PUB_BROKER_4\"),/wss/) or $contains($env(\"MQTT_PUB_BROKER_4\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_PUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_PUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_PUB_BROKERVERSION\")) = 0 ? 4 : $number($env(\"MQTT_PUB_BROKERVERSION\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "$env(\"CENTRE_ID\") & \"_\" & $split(payload,\"-\")[4]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 520,
        "wires": [
            [
                "6bc1cafe3c62eedd"
            ]
        ]
    },
    {
        "id": "6bc1cafe3c62eedd",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Define Publisher 4",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fb95ea2e5cfff8c",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "e16278c4105cfffa",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "BROKER_5",
        "property": "MQTT_PUB_BROKER_5",
        "propertyType": "env",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "bf2887ccd58f7f76"
            ]
        ]
    },
    {
        "id": "bf2887ccd58f7f76",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.broker",
                "pt": "msg",
                "to": "MQTT_PUB_BROKER_5",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_PUB_BROKER_5\"),/wss/) or $contains($env(\"MQTT_PUB_BROKER_5\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_PUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_PUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_PUB_BROKERVERSION\")) = 0 ? 4 : $number($env(\"MQTT_PUB_BROKERVERSION\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "$env(\"CENTRE_ID\") & \"_\" & $split(payload,\"-\")[4]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 560,
        "wires": [
            [
                "3cda36254c15a40a"
            ]
        ]
    },
    {
        "id": "3cda36254c15a40a",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Define Publisher 5",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7153f36cc17dd9d8",
        "x": 970,
        "y": 560,
        "wires": []
    },
    {
        "id": "b3030784dff003ef",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "BROKER_2",
        "property": "MQTT_PUB_BROKER_2",
        "propertyType": "env",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 3120,
        "wires": [
            [
                "f356b76e580212fa"
            ]
        ]
    },
    {
        "id": "f356b76e580212fa",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher 2",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "80fd19a79e7bbf69",
        "x": 990,
        "y": 3120,
        "wires": []
    },
    {
        "id": "ef32dee4dbb35287",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "BROKER_3",
        "property": "MQTT_PUB_BROKER_3",
        "propertyType": "env",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 3160,
        "wires": [
            [
                "513b4e7f508782eb"
            ]
        ]
    },
    {
        "id": "513b4e7f508782eb",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher 3",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e934cf45bdf5a8aa",
        "x": 990,
        "y": 3160,
        "wires": []
    },
    {
        "id": "c9abb98c73c06e9a",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "BROKER_4",
        "property": "MQTT_PUB_BROKER_4",
        "propertyType": "env",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 3200,
        "wires": [
            [
                "5e170c1d307dc5b2"
            ]
        ]
    },
    {
        "id": "5e170c1d307dc5b2",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher 4",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fb95ea2e5cfff8c",
        "x": 990,
        "y": 3200,
        "wires": []
    },
    {
        "id": "16cfbad1f297bfc9",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "BROKER_5",
        "property": "MQTT_PUB_BROKER_5",
        "propertyType": "env",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 3240,
        "wires": [
            [
                "2f1480cfe91a468a"
            ]
        ]
    },
    {
        "id": "2f1480cfe91a468a",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher 5",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7153f36cc17dd9d8",
        "x": 990,
        "y": 3240,
        "wires": []
    },
    {
        "id": "9823cd1371a656bd",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 34",
        "mode": "link",
        "links": [
            "3bb3eb8fad8e5ead"
        ],
        "x": 565,
        "y": 3180,
        "wires": []
    },
    {
        "id": "3bb3eb8fad8e5ead",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 23",
        "links": [
            "9823cd1371a656bd",
            "8cdef1bef5766097"
        ],
        "x": 685,
        "y": 3180,
        "wires": [
            [
                "b3030784dff003ef",
                "ef32dee4dbb35287",
                "c9abb98c73c06e9a",
                "16cfbad1f297bfc9"
            ]
        ]
    },
    {
        "id": "8cdef1bef5766097",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 35",
        "mode": "link",
        "links": [
            "3bb3eb8fad8e5ead"
        ],
        "x": 855,
        "y": 3080,
        "wires": []
    },
    {
        "id": "1b8b7fb7e63be747",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 3000,
        "wires": [
            [
                "850ec94753e2c28e",
                "d1007e39ed03dbdd"
            ]
        ]
    },
    {
        "id": "9bf2d21dab89cb20",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Rel ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "( $count(links[rel = \"canonical\"]) + $count(links[rel = \"update\"]) + $count(links[rel = \"deletion\"]) = 1 )",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "( $count(links[rel = \"canonical\"]) + $count(links[rel = \"update\"]) + $count(links[rel = \"deletion\"]) != 1 ) ",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 2760,
        "wires": [
            [
                "55a84f688aa469fc"
            ],
            [
                "220416cccfa82033"
            ]
        ]
    },
    {
        "id": "3fefb9058f685721",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "error",
                "pt": "msg",
                "to": "Not exactly one of rel=canonical, rel=update, rel=deletion - Grace period - change before 01/01/2026",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 2880,
        "wires": [
            [
                "1304c39f28775a40"
            ]
        ]
    },
    {
        "id": "220416cccfa82033",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "1f6c456ebb02b09b",
            "f741c8c408ad151f"
        ],
        "x": 775,
        "y": 2800,
        "wires": []
    },
    {
        "id": "1f6c456ebb02b09b",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 2",
        "links": [
            "220416cccfa82033"
        ],
        "x": 865,
        "y": 2880,
        "wires": [
            [
                "3fefb9058f685721"
            ]
        ]
    },
    {
        "id": "f741c8c408ad151f",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 8",
        "links": [
            "220416cccfa82033"
        ],
        "x": 845,
        "y": 2700,
        "wires": [
            [
                "1ab497b74638e16e"
            ]
        ]
    },
    {
        "id": "b2a9dab323bab9b3",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "21a3293875df8cdf",
        "name": "Fast Track ?",
        "property": "$length($env(\"FASTTRACK\")) != 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 1380,
        "wires": [
            [
                "04a752405fb3d290"
            ]
        ]
    },
    {
        "id": "1749de762a22281e",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "21a3293875df8cdf",
        "name": "Grace period ?",
        "func": "const rangeStr = msg.payload; // Expect \"DD/MM/YYYY - DD/MM/YYYY\"\n\nfunction parseDMY(str) {\n    const match = str.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n    if (!match) return false;\n\n    const day = Number(match[1]);\n    const month = Number(match[2]);\n    const year = Number(match[3]);\n\n    const date = new Date(year, month - 1, day);\n \n    if (\n        date.getFullYear() !== year ||\n        date.getMonth() + 1 !== month ||\n        date.getDate() !== day\n    ) return false;\n\n    date.setHours(0, 0, 0, 0);\n    return date;\n}\n\nconst parts = typeof rangeStr === \"string\" ? rangeStr.split(\" - \") : [];\nif (parts.length !== 2) {\n    flow.set(\"fasttrack\", false);\n    return msg;\n}\n\nconst startDate = parseDMY(parts[0].trim());\nconst endDate = parseDMY(parts[1].trim());\n\nif (!startDate || !endDate) {\n    flow.set(\"fasttrack\",false);\n    return msg;\n}\n\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nflow.set(\"fasttrack\",startDate && endDate && today >= startDate && today <= endDate);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "04a752405fb3d290",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "21a3293875df8cdf",
        "name": "Date",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FASTTRACK",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1380,
        "wires": [
            [
                "1749de762a22281e"
            ]
        ]
    },
    {
        "id": "23a1547fa9a9b2f4",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "21a3293875df8cdf",
        "name": "Manage Fast Track period",
        "info": "",
        "x": 310,
        "y": 1300,
        "wires": []
    },
    {
        "id": "92f0ea823a390d73",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "21a3293875df8cdf",
        "name": "1 hour",
        "props": [],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 280,
        "y": 1380,
        "wires": [
            [
                "b2a9dab323bab9b3"
            ]
        ]
    },
    {
        "id": "bdb9a5a89aa0d9b3",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "21a3293875df8cdf",
        "name": "link in 24",
        "links": [
            "2d49c2d7293068cb"
        ],
        "x": 395,
        "y": 1340,
        "wires": [
            [
                "b2a9dab323bab9b3"
            ]
        ]
    },
    {
        "id": "d4304c99caba02e4",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "error",
                "pt": "msg",
                "to": "Metadata published on topic deeper than metadata - Grace period - change before 01/01/2026",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 2420,
        "wires": [
            [
                "df49419d7601b87d"
            ]
        ]
    }
]