flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Pub/Sub",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2cac6541d3b7ad29",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c13d3c5f9acc9999",
            "b1115d7b4bce6f22",
            "163bec2fefa62a7c",
            "48ea516b2cc04255",
            "ef668b083c0bba93",
            "78f49719d821c44b",
            "f2aa3a4d937b3b3a",
            "9bbd025173277f48"
        ],
        "x": 154,
        "y": 499,
        "w": 812,
        "h": 222
    },
    {
        "id": "62f91cf6e7d132d1",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0a2486d0f3d8bfd5",
            "cb4d866e631c01ae",
            "997975557ef1e873",
            "de8091ab1ae779f6",
            "95e4cdf8faf5e1df",
            "87f62bece8e4dd67"
        ],
        "x": 154,
        "y": 759,
        "w": 652,
        "h": 182
    },
    {
        "id": "0e2c3f294eb753b6",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "20ec172fe67348c6",
            "5a32454d94055eac",
            "f0aaab7d00875d14",
            "83eb6e6b9aadb4ad",
            "0ba924a28af55b20",
            "d1007e39ed03dbdd",
            "5af91b47829c129d",
            "df08c4d8b258e5c5",
            "634a216d184c5685",
            "850ec94753e2c28e",
            "8cb14b7b13a76f0d",
            "ec86dc1e4cca0f7c",
            "2fb43f7ea596c984",
            "67f1804f7d58c4e3",
            "55162673b6a94ebc",
            "031988bb69f85a07",
            "88fdc7d698acb2d7",
            "3d51c30ba2785e20",
            "343e0c53a688e686",
            "e8e9918ab2ea8a60",
            "c337fed9c7000a43",
            "f8b75275aeb43797",
            "b5bc10e1081d22fc",
            "56e079e2cc71499c",
            "0329c03404035be3",
            "522e09cdb6843f51",
            "fbf08e5fe9f4d457",
            "2a717a1429576405",
            "f0fc3d4efdfc4442",
            "22b5b78420c0a3cb"
        ],
        "x": 154,
        "y": 959,
        "w": 1432,
        "h": 422
    },
    {
        "id": "af64ebcc5f745fbb",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2d16d1fb9be9c0af",
            "fa24a2f54b4ae1a2",
            "91375cbee22eac8b",
            "febc59b2a01d3b51",
            "cb516c136f502154",
            "f41773382fda2a90",
            "b6e7189343a699c5",
            "7396f17b4d5a8acc",
            "1972856ebcf4fd08",
            "43e8195bba447330",
            "0c40af1e53657c10",
            "a194d606d2c36f0c",
            "97e2e9730afa6411",
            "fecc8e288bcc1234",
            "d199768c970a404f",
            "bf84f00af773ae55",
            "088242062a8edf86",
            "7cbd67306119b602",
            "9204f8d517897d74",
            "ff38c27547f57df5",
            "4ce66cb6c1cd331a",
            "b6f1b5afd8f26926",
            "b0058fcf19b55fbc",
            "1fb5a0fd9a1d867e",
            "11e84d462d0da702",
            "f0bb2e3b8a4db6ac",
            "9da53c72d3d77292"
        ],
        "x": 154,
        "y": 1399,
        "w": 1252,
        "h": 302
    },
    {
        "id": "704fe7a0a3413400",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "720bdf8b4f4fd2bc",
            "c2e79e20b06839e6",
            "3c5d87dbdc9a0a2c",
            "507cce674d0f12d6",
            "5f6c31b4abc8077c",
            "d17844f69c0a434e",
            "93db13a150783f1f",
            "3484111e0c147f1d"
        ],
        "x": 154,
        "y": 1719,
        "w": 452,
        "h": 222
    },
    {
        "id": "ce2cac978984a426",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dae14136f482103c",
            "437c51adccb5ac31",
            "6c2aa04153a511ed",
            "051f1aadd5a065d6",
            "19bcd70c18019596",
            "b7063bd33192a3f5",
            "dd045490fff21a17",
            "93a9fa867e314aa1",
            "8a2be6e648c0be85",
            "20ce89c8428168cd"
        ],
        "x": 154,
        "y": 199,
        "w": 752,
        "h": 282
    },
    {
        "id": "ac0560c0180e4641",
        "type": "mqtt-broker",
        "name": "Publisher",
        "broker": "${MQTT_PUB_BROKER}",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8cf5f6b5.937088",
        "type": "mqtt-broker",
        "name": "Subscriber",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3ca20af8a00e4653",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_last_message_timestamp_seconds",
        "help": "Timestamp of last message received (in seconds)",
        "labels": "centre_id",
        "mtype": "gauge"
    },
    {
        "id": "a566680eb78ef6ce",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_published_total",
        "help": "Number of message published",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "c344793f83ad40d6",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_invalid_total",
        "help": "Number of invalid messages",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "dd410bebb1e18cb0",
        "type": "redis-config",
        "name": "Cluster",
        "options": "$eval($env(\"REDIS_URL\"))",
        "cluster": true,
        "optionsType": "jsonata"
    },
    {
        "id": "ee256ebbe2fe3b40",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_received_total",
        "help": "Number of messages received from broker",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "99a12653dcbb94b9",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_connected_flag",
        "help": "Connection status from broker to centre",
        "labels": "centre_id",
        "mtype": "gauge"
    },
    {
        "id": "dae14136f482103c",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "437c51adccb5ac31",
                "19bcd70c18019596"
            ]
        ]
    },
    {
        "id": "437c51adccb5ac31",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle Monitoring",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "last_sub",
                "pt": "flow",
                "to": "start",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic_status",
                "pt": "flow",
                "to": "$env(\"MQTT_MONIT_TOPIC\") & \"/status\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic_pubsub",
                "pt": "flow",
                "to": "$env(\"MQTT_MONIT_TOPIC\")  & \"/pubsub\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic_container",
                "pt": "flow",
                "to": "$env(\"MQTT_MONIT_TOPIC\")  & \"/container\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "CENTRE_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "host",
                "pt": "flow",
                "to": "WHOAMI",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6c2aa04153a511ed",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Initialize",
        "info": "",
        "x": 250,
        "y": 240,
        "wires": []
    },
    {
        "id": "c13d3c5f9acc9999",
        "type": "status",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Remote Broker",
        "scope": [
            "0ba924a28af55b20"
        ],
        "x": 260,
        "y": 660,
        "wires": [
            [
                "163bec2fefa62a7c"
            ]
        ]
    },
    {
        "id": "b1115d7b4bce6f22",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Monitor connection",
        "info": "",
        "x": 290,
        "y": 540,
        "wires": []
    },
    {
        "id": "0a2486d0f3d8bfd5",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Monitor last subscribe",
        "info": "",
        "x": 300,
        "y": 800,
        "wires": []
    },
    {
        "id": "cb4d866e631c01ae",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "1 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 900,
        "wires": [
            [
                "997975557ef1e873"
            ]
        ]
    },
    {
        "id": "20ec172fe67348c6",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Anti-loop",
        "info": "",
        "x": 260,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5a32454d94055eac",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 1500,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f0aaab7d00875d14",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Chech ID",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1140,
        "y": 1260,
        "wires": [
            [
                "83eb6e6b9aadb4ad",
                "d1007e39ed03dbdd",
                "850ec94753e2c28e",
                "ec86dc1e4cca0f7c"
            ],
            []
        ]
    },
    {
        "id": "83eb6e6b9aadb4ad",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "extid",
                "pt": "msg",
                "to": "msg.mqttpayload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[msg.extid,true,\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "extid",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 1280,
        "wires": [
            [
                "522e09cdb6843f51"
            ]
        ]
    },
    {
        "id": "0ba924a28af55b20",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Subscriber",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "f0fc3d4efdfc4442"
            ]
        ]
    },
    {
        "id": "d1007e39ed03dbdd",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prepare pub",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mqttpayload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqtttopic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 1220,
        "wires": [
            [
                "5a32454d94055eac"
            ]
        ]
    },
    {
        "id": "5af91b47829c129d",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Subscriber",
        "metric": "ee256ebbe2fe3b40",
        "x": 1030,
        "y": 1140,
        "wires": []
    },
    {
        "id": "df08c4d8b258e5c5",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1140,
        "wires": [
            [
                "5af91b47829c129d"
            ]
        ]
    },
    {
        "id": "634a216d184c5685",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher",
        "metric": "a566680eb78ef6ce",
        "x": 1500,
        "y": 1160,
        "wires": []
    },
    {
        "id": "850ec94753e2c28e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 1160,
        "wires": [
            [
                "634a216d184c5685"
            ]
        ]
    },
    {
        "id": "8cb14b7b13a76f0d",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Received",
        "rules": [
            {
                "t": "set",
                "p": "last_sub",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "ec86dc1e4cca0f7c",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Sent",
        "rules": [
            {
                "t": "set",
                "p": "last_pub",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "2fb43f7ea596c984",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Validate ?",
        "property": "( \t       ( ( $env(\"MSG_CHECK_OPTION\") in [\"discard\",\"verify\"] ) and $not($contains(topic,\"metadata\") ) ) ? true : false\t)\t",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 1080,
        "wires": [
            [
                "67f1804f7d58c4e3"
            ],
            [
                "c337fed9c7000a43"
            ]
        ]
    },
    {
        "id": "67f1804f7d58c4e3",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Check msg",
        "func": "let message = msg.payload;\nlet topic = msg.topic;\nlet score = 100;\nlet errors = [];\nmsg.valid = true;\n\n// Check if topic is correct\n\nif ( ! ( topic.match('^origin/a.*$') || topic.match('^cache/a.*$') ) ) reject (\"topic in incorrect\");\n\n// Check existence of id\nconst id = message.id;\n\nif (id === undefined) reject (\"id is undefined\") ;\nelse {\n    const valid_uuid = isUUID (id);\n    if ( valid_uuid == false ) {\n        score = score - 10;\n    }\n}\n\nconst version = message.version;\nif (version === undefined || version != \"v04\") reject (\"version is undefined or not correct\");\n\nconst message_type = message.type;\nif (message_type === undefined || message_type != \"Feature\") reject (\"feature is undefined or not correct\");\n\nconst geometry = message.geometry;\nif (geometry === undefined ) reject (\"geometry is undefined\");\nelse {\n    if ( geometry === null ) {}\n    else {\n        let geometry_type = geometry.type;\n        if ( geometry_type == \"Point\") {\n            let geometry_coord = geometry.coordinates;\n            if ( isArray( geometry_coord ) ) {\n                if ( geometry_coord.length > 3 ) reject (\"geometry coordinates length is not correct\");\n                else {\n                    if ( ! ( ( typeof(geometry_coord[0]) == 'number' ) && ( geometry_coord[0] >= -180 ) && ( geometry_coord[0] <= 180 ) ) ) reject (\"geometry latitude is not correct\");\n                    if ( ! ( ( typeof(geometry_coord[1]) == 'number' ) && ( geometry_coord[1] >= -90 ) && ( geometry_coord[1] <= 90 ) ) ) reject (\"geometry latitude is not correct\");\n                }\n            }\n            else reject (\"geometry is not an array\");\n        }\n        else {\n            if ( geometry_type == \"Polygon\") {\n                let geometry_coord = geometry.coordinates[0];\n                let point;\n                if ( isArray( geometry_coord ) ) {\n                    const first = geometry_coord[0];\n                    const last = geometry_coord[geometry_coord.length - 1];\n                    if ( (! isArray( first ) ) || ( !isArray( last ) ) || ( first[0] != last[0] ) || ( first[1] != last[1] ) ) reject (\"Polygon coordinates are not correct\");\n                    for (let i = 0; i < geometry_coord.length; i++) { \n                        point = geometry_coord[i];\n                        if ( isArray( point ) ) {\n                            if ( point.length != 2 ) reject (\"Point geometry coordinates length is not correct\");\n                            else {\n                                if ( ! ( ( typeof(point[0]) == 'number' ) && ( point[0] >= -180 ) && ( point[0] <= 180 ) ) ) reject (\"Point geometry latitude is not correct\");\n                                if ( ! ( ( typeof(point[1]) == 'number' ) && ( point[1] >= -90 ) && ( point[1] <= 90 ) ) ) reject (\"Point geometry latitude is not correct\");\n                            }\n                        }\n                        else reject (\"Point geometry is not an array\");\n                    }\n                }\n                else reject (\"geometry is not an array\");\n            }\n            else reject (\"geometry is not one of the agreed type (null, point, polygon\");\n        }\n    }\n}\n\nconst properties = message.properties;\nif (properties === undefined) reject (\"properties is undefined\");\nelse {\n    \n    const integrity = properties.integrity;\n    if (integrity === undefined) score = score - 10;\n    else { \n        const method = integrity.method;\n        if ( method === undefined) reject(\"Hashing method is undefined\");\n        else { \n            if ( method == \"MD5\" ) score = score - 10;\n            else if ( method.match('^[sS][hH][aA]256|512$') === null ) reject(\"Hashing method is not correct\");\n        }\n        const value = integrity.value;\n        if ( value === undefined) reject(\"value is undefined\");\n    }\n    \n    const content = properties.content;\n    if (content !== undefined) {\n        const encoding = content.encoding;\n        if ( encoding === undefined) reject(\"encoding is undefined\");\n        else if ( encoding.match('^utf\\-8|base64$') === null ) reject(\"encoding is not correct\");\n        const value_encoding = content.value;\n        if ( value_encoding === undefined) reject(\"value within encoding is undefined\");\n        const size = content.size;\n        if ( size === undefined) reject(\"size within encoding is undefined\");\n        else if ( size > 4096 ) reject(\"length exceeds the agreed value (4096)\");\n    }\n    \n    const data_id = properties.data_id;\n    if ( data_id === undefined) reject(\"data_id is undefined\");\n    else if ( data_id.match(topic.substring(topic.indexOf(\"wis\"))) === null ) reject(\"data_id is not correct\");\n\n    const pubtime = properties.pubtime;\n    if ( pubtime === undefined) reject(\"pubtime is undefined\");\n    else if ( pubtime.match('^[0-9]{4}-[0-9]{2}-[0-9]{2}[t|T| ][0-9]{2}:[0-9]{2}:[0-9]{2}\\.?[0-9]*[Z|z]$') === null ) reject(\"pubtime is not RFC3339 compliant\");\n\n    const datetime = properties.datetime;\n    const start_datetime = properties.start_datetime;\n    const end_datetime = properties.end_datetime;\n\n    if ( datetime === undefined) {\n        if ( start_datetime === undefined ) {\n            if ( end_datetime === undefined ) score = score - 10;\n            else reject(\"end_datetime is defined but start_datetime is not\") ;\n        }\n        else {\n            if ( start_datetime.match('^[0-9]{4}-[0-9]{2}-[0-9]{2}[t|T| ][0-9]{2}:[0-9]{2}:[0-9]{2}\\.?[0-9]*[Z|z]$') === null ) reject(\"start_datetime is not RFC3339 compliant\");\n            else {\n                if ( end_datetime === undefined ) reject(\"start_datetime is defined but end_datetime is not\");\n                else if ( end_datetime.match('^[0-9]{4}-[0-9]{2}-[0-9]{2}[t|T| ][0-9]{2}:[0-9]{2}:[0-9]{2}\\.?[0-9]*[Z|z]$') === null ) reject(\"end_datetime is not RFC3339 compliant\");\n            }\n        }\n    }\n    else {\n        if ( start_datetime !== undefined || end_datetime !== undefined ) reject(\"datetime and start_datetime/end_datetime are both defined\");\n        if ( datetime.match('^[0-9]{4}-[0-9]{2}-[0-9]{2}[t|T| ][0-9]{2}:[0-9]{2}:[0-9]{2}\\.?[0-9]*[Z|z]$') === null ) reject(\"datetime is not RFC3339 compliant\");\n    }\n}\n\nconst links = message.links;\nif (links === undefined) reject (\"links is undefined\");\nelse {\n    if ( isArray( links ) ) {\n        let href, rel, mime_type;\n        let canonical_link = false;\n        for (let i = 0; i < links.length; i++) { \n            href = links[i].href;\n            if ( href === undefined) reject (\"href is undefined\");\n            if ( ! ( href.match('^http:\\/\\/.*$') || href.match('^https:\\/\\/.*$') || href.match('^sftp:\\/\\/.*$') || href.match('^ftp:\\/\\/.*$')) ) reject (\"Download protocol is incorrect\");\n            if ( href.match('^http:\\/\\/.*$') || href.match('^ftp:\\/\\/.*$') ) score = score - 20;\n            rel = links[i].rel;\n            if ( rel === undefined) reject (\"rel is undefined\");\n            if ( rel.match('^canonical$') ) canonical_link = true ;\n            else if ( ! ( rel.match('^alternate|via$') ) ) reject (\"rel is not correct\");\n            mime_type = links[i].type;\n            if ( mime_type === undefined) reject (\"Mime-type is undefined\");\n        }\n        if ( canonical_link == false ) reject (\"canonical link is missing\");\n    }\n    else reject (\"links is not an array\");\n}\n\nmsg.score = score;\n\nif ( errors.length != 0 ) {\n   let err = { \"errors\": errors };\n   msg.payload._comment = err;\n} \n\n\nreturn msg;\n\nfunction isUUID ( uuid ) {\n    let s = \"\" + uuid;\n    s = s.match('^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$');\n    if (s === null) {\n      return false;\n    }\n    return true;\n}\n\nfunction reject ( reason ) {\n      errors.push(reason);\n      score = 0;\n      msg.score = score;\n      msg.valid = false;\n      return msg;\n}\n\nfunction isArray( myArray ) {\n  return myArray.constructor.toString().indexOf(\"Array\") > -1;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1060,
        "wires": [
            [
                "031988bb69f85a07"
            ]
        ]
    },
    {
        "id": "55162673b6a94ebc",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 1",
        "links": [
            "c337fed9c7000a43",
            "f8b75275aeb43797",
            "b5bc10e1081d22fc"
        ],
        "x": 765,
        "y": 1260,
        "wires": [
            [
                "e8e9918ab2ea8a60"
            ]
        ]
    },
    {
        "id": "031988bb69f85a07",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Valid ?",
        "property": "valid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 1060,
        "wires": [
            [
                "f8b75275aeb43797"
            ],
            [
                "343e0c53a688e686",
                "88fdc7d698acb2d7"
            ]
        ]
    },
    {
        "id": "88fdc7d698acb2d7",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Discard ?",
        "property": "(  (  $env(\"MSG_CHECK_OPTION\") = \"discard\" )  ? true : false ) ",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1320,
        "y": 1100,
        "wires": [
            [],
            [
                "b5bc10e1081d22fc"
            ]
        ]
    },
    {
        "id": "3d51c30ba2785e20",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Invalid",
        "metric": "c344793f83ad40d6",
        "x": 1470,
        "y": 1060,
        "wires": []
    },
    {
        "id": "343e0c53a688e686",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 1060,
        "wires": [
            [
                "3d51c30ba2785e20"
            ]
        ]
    },
    {
        "id": "e8e9918ab2ea8a60",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Save msg",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "mqtttopic",
                "pt": "msg",
                "to": "topic",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqttpayload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1260,
        "wires": [
            [
                "0329c03404035be3"
            ]
        ]
    },
    {
        "id": "c337fed9c7000a43",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "55162673b6a94ebc"
        ],
        "x": 955,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f8b75275aeb43797",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "55162673b6a94ebc"
        ],
        "x": 1275,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b5bc10e1081d22fc",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "55162673b6a94ebc"
        ],
        "x": 1435,
        "y": 1100,
        "wires": []
    },
    {
        "id": "56e079e2cc71499c",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Subscription",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "$split($env(\"MQTT_SUB_TOPIC\"),\",\")",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 270,
        "y": 1140,
        "wires": [
            [
                "0ba924a28af55b20"
            ]
        ]
    },
    {
        "id": "051f1aadd5a065d6",
        "type": "redis-instance",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "server": "dd410bebb1e18cb0",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "0329c03404035be3",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "server": "dd410bebb1e18cb0",
        "command": "GET",
        "name": "Get",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 990,
        "y": 1260,
        "wires": [
            [
                "f0aaab7d00875d14"
            ]
        ]
    },
    {
        "id": "522e09cdb6843f51",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "server": "dd410bebb1e18cb0",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1430,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "2d16d1fb9be9c0af",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "2s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 1520,
        "wires": [
            [
                "fa24a2f54b4ae1a2"
            ]
        ]
    },
    {
        "id": "fa24a2f54b4ae1a2",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Alive",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    $flowContext(\"centreid\"),\t    $flowContext(\"uuid\"),\t    $millis()\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1520,
        "wires": [
            [
                "91375cbee22eac8b"
            ]
        ]
    },
    {
        "id": "91375cbee22eac8b",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HSET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 490,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "febc59b2a01d3b51",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "10s",
        "props": [
            {
                "p": "topic",
                "v": "[ $flowContext(\"centreid\") ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 250,
        "y": 1580,
        "wires": [
            [
                "1972856ebcf4fd08"
            ]
        ]
    },
    {
        "id": "cb516c136f502154",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Elect",
        "func": "let min = \"zzzzzzzz-zzzz-zzzz-zzzz-zzzzzzzzzzzz\"\nlet arr = msg.payload;\nlet i;\nlet j=0;\nlet del=[];\nlet priority=\"secondary\";\n\nfor (i = 0; i < arr.length - 1; i = i + 2) {\n    if ( (arr[i] < min) && ( ( Date.now() - parseFloat(arr[i+1]) ) < 8000 ) ) min = arr[i] ;\n    if ( (Date.now() - parseFloat(arr[i + 1])) >= 8000 ) {\n        del[j] = arr[i];\n        j=j+1;\n    }\n}\n\nif ( flow.get(\"uuid\") == min ) priority=\"primary\"\n\nmsg.centre_id=flow.get(\"centreid\");\nmsg.payload = priority;\nmsg.del = del;\nmsg.uuid = flow.get(\"uuid\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1580,
        "wires": [
            [
                "f41773382fda2a90"
            ]
        ]
    },
    {
        "id": "f41773382fda2a90",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Primary ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "primary",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "secondary",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 1580,
        "wires": [
            [
                "b6e7189343a699c5",
                "0c40af1e53657c10",
                "1fb5a0fd9a1d867e"
            ],
            [
                "97e2e9730afa6411",
                "11e84d462d0da702"
            ]
        ]
    },
    {
        "id": "b6e7189343a699c5",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Delete ?",
        "property": "del",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 760,
        "y": 1460,
        "wires": [
            [
                "7396f17b4d5a8acc"
            ]
        ]
    },
    {
        "id": "7396f17b4d5a8acc",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Del",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$append(msg.centre_id,msg.del)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1460,
        "wires": [
            [
                "43e8195bba447330"
            ]
        ]
    },
    {
        "id": "1972856ebcf4fd08",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HGETALL",
        "name": "Getall",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 370,
        "y": 1580,
        "wires": [
            [
                "cb516c136f502154"
            ]
        ]
    },
    {
        "id": "43e8195bba447330",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HDEL",
        "name": "Del",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1010,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "0c40af1e53657c10",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Open",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1540,
        "wires": [
            [
                "bf84f00af773ae55"
            ]
        ]
    },
    {
        "id": "a194d606d2c36f0c",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Queue",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "queue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1620,
        "wires": [
            [
                "fecc8e288bcc1234",
                "9204f8d517897d74"
            ]
        ]
    },
    {
        "id": "97e2e9730afa6411",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1600,
        "wires": [
            [
                "088242062a8edf86",
                "ff38c27547f57df5"
            ]
        ]
    },
    {
        "id": "fecc8e288bcc1234",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Flush",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "flush",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1640,
        "wires": [
            [
                "7cbd67306119b602",
                "4ce66cb6c1cd331a"
            ]
        ]
    },
    {
        "id": "d199768c970a404f",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Queue",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "queue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 1640,
        "wires": [
            [
                "b6f1b5afd8f26926"
            ]
        ]
    },
    {
        "id": "f0fc3d4efdfc4442",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "",
        "controlTopic": "control",
        "defaultState": "queueing",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "10000",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 570,
        "y": 1140,
        "wires": [
            [
                "22b5b78420c0a3cb"
            ]
        ]
    },
    {
        "id": "22b5b78420c0a3cb",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "",
        "controlTopic": "control",
        "defaultState": "queueing",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "10000",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 690,
        "y": 1140,
        "wires": [
            [
                "8cb14b7b13a76f0d",
                "2fb43f7ea596c984",
                "df08c4d8b258e5c5"
            ]
        ]
    },
    {
        "id": "fbf08e5fe9f4d457",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 3",
        "links": [
            "bf84f00af773ae55",
            "7cbd67306119b602",
            "b6f1b5afd8f26926"
        ],
        "x": 535,
        "y": 1080,
        "wires": [
            [
                "f0fc3d4efdfc4442",
                "22b5b78420c0a3cb"
            ]
        ]
    },
    {
        "id": "bf84f00af773ae55",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "fbf08e5fe9f4d457",
            "de8091ab1ae779f6",
            "48ea516b2cc04255",
            "93db13a150783f1f",
            "a4d058e23d8dd012"
        ],
        "x": 835,
        "y": 1540,
        "wires": []
    },
    {
        "id": "088242062a8edf86",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "2a717a1429576405",
            "de8091ab1ae779f6",
            "48ea516b2cc04255",
            "3484111e0c147f1d",
            "94708a5cad3b4ebf"
        ],
        "x": 835,
        "y": 1580,
        "wires": []
    },
    {
        "id": "2a717a1429576405",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 4",
        "links": [
            "088242062a8edf86",
            "9204f8d517897d74"
        ],
        "x": 655,
        "y": 1080,
        "wires": [
            [
                "22b5b78420c0a3cb"
            ]
        ]
    },
    {
        "id": "7cbd67306119b602",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "fbf08e5fe9f4d457",
            "a4d058e23d8dd012"
        ],
        "x": 1165,
        "y": 1600,
        "wires": []
    },
    {
        "id": "9204f8d517897d74",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "2a717a1429576405",
            "de8091ab1ae779f6",
            "48ea516b2cc04255",
            "94708a5cad3b4ebf"
        ],
        "x": 1035,
        "y": 1600,
        "wires": []
    },
    {
        "id": "ff38c27547f57df5",
        "type": "delay",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 835,
        "y": 1620,
        "wires": [
            [
                "a194d606d2c36f0c"
            ]
        ],
        "l": false
    },
    {
        "id": "4ce66cb6c1cd331a",
        "type": "delay",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1165,
        "y": 1640,
        "wires": [
            [
                "d199768c970a404f"
            ]
        ],
        "l": false
    },
    {
        "id": "b6f1b5afd8f26926",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "fbf08e5fe9f4d457",
            "a4d058e23d8dd012"
        ],
        "x": 1365,
        "y": 1640,
        "wires": []
    },
    {
        "id": "b0058fcf19b55fbc",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Elect Primary/Secondary",
        "info": "",
        "x": 310,
        "y": 1440,
        "wires": []
    },
    {
        "id": "163bec2fefa62a7c",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 430,
        "y": 660,
        "wires": [
            [
                "f2aa3a4d937b3b3a"
            ]
        ]
    },
    {
        "id": "997975557ef1e873",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 390,
        "y": 900,
        "wires": [
            [
                "87f62bece8e4dd67"
            ]
        ]
    },
    {
        "id": "de8091ab1ae779f6",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "link in 5",
        "links": [
            "bf84f00af773ae55",
            "088242062a8edf86",
            "9204f8d517897d74"
        ],
        "x": 355,
        "y": 860,
        "wires": [
            [
                "997975557ef1e873"
            ]
        ]
    },
    {
        "id": "48ea516b2cc04255",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "link in 6",
        "links": [
            "bf84f00af773ae55",
            "088242062a8edf86",
            "9204f8d517897d74"
        ],
        "x": 395,
        "y": 620,
        "wires": [
            [
                "163bec2fefa62a7c"
            ]
        ]
    },
    {
        "id": "720bdf8b4f4fd2bc",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Health check",
        "info": "",
        "x": 270,
        "y": 1760,
        "wires": []
    },
    {
        "id": "c2e79e20b06839e6",
        "type": "http in",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "",
        "url": "/primary",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 1820,
        "wires": [
            [
                "507cce674d0f12d6"
            ]
        ]
    },
    {
        "id": "3c5d87dbdc9a0a2c",
        "type": "http response",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 1820,
        "wires": []
    },
    {
        "id": "507cce674d0f12d6",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Response",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "code",
                "tot": "flow"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1820,
        "wires": [
            [
                "3c5d87dbdc9a0a2c"
            ]
        ]
    },
    {
        "id": "5f6c31b4abc8077c",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "200",
        "rules": [
            {
                "t": "set",
                "p": "code",
                "pt": "flow",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "d17844f69c0a434e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "404",
        "rules": [
            {
                "t": "set",
                "p": "code",
                "pt": "flow",
                "to": "404",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "93db13a150783f1f",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Is primary",
        "links": [
            "bf84f00af773ae55"
        ],
        "x": 240,
        "y": 1860,
        "wires": [
            [
                "5f6c31b4abc8077c"
            ]
        ],
        "l": true
    },
    {
        "id": "3484111e0c147f1d",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Is secondary",
        "links": [
            "088242062a8edf86"
        ],
        "x": 250,
        "y": 1900,
        "wires": [
            [
                "d17844f69c0a434e"
            ]
        ],
        "l": true
    },
    {
        "id": "19bcd70c18019596",
        "type": "createrandom",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "generator": "UUID",
        "type_generator": "generator",
        "label": "UUID",
        "param_1": "v4",
        "type_param_1": "Version",
        "param_2": "",
        "type_param_2": "msg",
        "param_3": "",
        "type_param_3": "msg",
        "f_use_debug": false,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "dd045490fff21a17",
                "b7063bd33192a3f5",
                "93a9fa867e314aa1"
            ]
        ]
    },
    {
        "id": "b7063bd33192a3f5",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "uuid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "dd045490fff21a17",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_SUB_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_SUB_BROKER\"),/wss/) or $contains($env(\"MQTT_SUB_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_SUB_VERIFYCERT\")) = 0 ? false : $env(\"MQTT_SUB_VERIFYCERT\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_SUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_SUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_SUB_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_SUB_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "$length($env(\"MQTT_CLIENTID\")) = 0 ? payload : $env(\"MQTT_CLIENTID\") & $split(payload,\"-\")[4]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "8a2be6e648c0be85"
            ]
        ]
    },
    {
        "id": "93a9fa867e314aa1",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_PUB_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_PUB_BROKER\"),/wss/) or $contains($env(\"MQTT_PUB_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_PUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_PUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_PUB_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_PUB_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "$env(\"CENTRE_ID\") & \"_\" & $split(payload,\"-\")[4]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "20ce89c8428168cd"
            ]
        ]
    },
    {
        "id": "8a2be6e648c0be85",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Define Subscriber",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 790,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "20ce89c8428168cd",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Define Publisher",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "1fb5a0fd9a1d867e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Primary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   \"docker\",\t   $flowContext(\"centreid\") & \"_primary\",\t   $flowContext(\"host\"),\t   $flowContext(\"centreid\") & \"_primary_time\",\t   $millis()\t]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1500,
        "wires": [
            [
                "9da53c72d3d77292"
            ]
        ]
    },
    {
        "id": "11e84d462d0da702",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Secondary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[    \"docker\",    $flowContext(\"centreid\") & \"_secondary\",    $flowContext(\"host\"),    $flowContext(\"centreid\") & \"_secondary_time\",    $millis() ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1660,
        "wires": [
            [
                "f0bb2e3b8a4db6ac"
            ]
        ]
    },
    {
        "id": "f0bb2e3b8a4db6ac",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HSET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 910,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "9da53c72d3d77292",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HSET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 890,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "95e4cdf8faf5e1df",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Last message",
        "metric": "3ca20af8a00e4653",
        "x": 700,
        "y": 900,
        "wires": []
    },
    {
        "id": "87f62bece8e4dd67",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\": $floor ( $flowContext(\"last_pub\") / 1000 )\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 900,
        "wires": [
            [
                "95e4cdf8faf5e1df"
            ]
        ]
    },
    {
        "id": "ef668b083c0bba93",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\": 0\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 640,
        "wires": [
            [
                "78f49719d821c44b"
            ]
        ]
    },
    {
        "id": "78f49719d821c44b",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Flag",
        "metric": "99a12653dcbb94b9",
        "x": 890,
        "y": 660,
        "wires": []
    },
    {
        "id": "f2aa3a4d937b3b3a",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Status ?",
        "property": "status.fill",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 560,
        "y": 660,
        "wires": [
            [
                "ef668b083c0bba93"
            ],
            [
                "ef668b083c0bba93"
            ],
            [
                "9bbd025173277f48"
            ]
        ]
    },
    {
        "id": "9bbd025173277f48",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\": 1\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 680,
        "wires": [
            [
                "78f49719d821c44b"
            ]
        ]
    }
]