flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Pub/Sub",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2cac6541d3b7ad29",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c13d3c5f9acc9999",
            "b1115d7b4bce6f22",
            "163bec2fefa62a7c",
            "48ea516b2cc04255",
            "ef668b083c0bba93",
            "78f49719d821c44b",
            "f2aa3a4d937b3b3a",
            "9bbd025173277f48"
        ],
        "x": 34,
        "y": 359,
        "w": 812,
        "h": 222
    },
    {
        "id": "62f91cf6e7d132d1",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0a2486d0f3d8bfd5",
            "cb4d866e631c01ae",
            "997975557ef1e873",
            "de8091ab1ae779f6",
            "95e4cdf8faf5e1df",
            "87f62bece8e4dd67",
            "b1c3baa492255df2"
        ],
        "x": 34,
        "y": 599,
        "w": 772,
        "h": 182
    },
    {
        "id": "0e2c3f294eb753b6",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "20ec172fe67348c6",
            "5a32454d94055eac",
            "f0aaab7d00875d14",
            "83eb6e6b9aadb4ad",
            "0ba924a28af55b20",
            "d1007e39ed03dbdd",
            "5af91b47829c129d",
            "df08c4d8b258e5c5",
            "634a216d184c5685",
            "850ec94753e2c28e",
            "2fb43f7ea596c984",
            "55162673b6a94ebc",
            "88fdc7d698acb2d7",
            "3d51c30ba2785e20",
            "343e0c53a688e686",
            "e8e9918ab2ea8a60",
            "c337fed9c7000a43",
            "f8b75275aeb43797",
            "b5bc10e1081d22fc",
            "0329c03404035be3",
            "522e09cdb6843f51",
            "fbf08e5fe9f4d457",
            "2a717a1429576405",
            "f0fc3d4efdfc4442",
            "22b5b78420c0a3cb",
            "ff5a70d1daccfcd8",
            "8cb14b7b13a76f0d",
            "ec969eba156a4f07",
            "80d75f8c9421968f",
            "dc7851093f07bef3",
            "693c13abbe3813a4",
            "3dc527070675bf77",
            "775b0e5e08401ddf",
            "3b01c1f0f86b0b11",
            "e460a4e0e46f8b6b",
            "544ea0b45f6dc572",
            "2b3db2c16c988666",
            "dbc51c795c74b90f",
            "b367411c21cb904c",
            "4ac08b391b532d20",
            "ec8e2eeb9ceb6ebb",
            "12b28634fce3d9a0",
            "f2a77929465ade4f",
            "bf376dc2dfd3bf3e",
            "e4071c69374aa3a4",
            "f5aaa060b0d16106",
            "efad9ff6bfbdae5b",
            "fa4c3cbed535aba3",
            "352b870c0bdaf6d0",
            "11852c20d22ca77d",
            "d11e2b1d34dad0bf",
            "a2b990cc2ac4b822",
            "8dafdd8865d5f168",
            "c3701b3de6b8fb91",
            "1ab497b74638e16e",
            "72c0f0ca72d21c67",
            "02167eb395a3423a",
            "3e276eaf84e46111",
            "ee7abda9b65a0828",
            "714d2454d4276f86",
            "04fbb71a261a5a42",
            "a600594b010f79b6",
            "01a8d6c00cfa4ed4",
            "eafdcbad91d4038e",
            "913733ee81aec859",
            "5ae11166c7e08eee",
            "28044557835421f6",
            "f9f3a1e93e70df28",
            "2c4139ee09b1643e",
            "84972c6fa7c3556a",
            "3db0281cd705b3bc",
            "e1e0a2bf24cab809",
            "7f9e9fa8e761b1d0",
            "df49419d7601b87d",
            "f991a21e2b607b2a",
            "e9481475ba807981",
            "3e59395ae80ba3c9"
        ],
        "x": 34,
        "y": 1159,
        "w": 1052,
        "h": 1082
    },
    {
        "id": "af64ebcc5f745fbb",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2d16d1fb9be9c0af",
            "fa24a2f54b4ae1a2",
            "91375cbee22eac8b",
            "febc59b2a01d3b51",
            "cb516c136f502154",
            "f41773382fda2a90",
            "b6e7189343a699c5",
            "7396f17b4d5a8acc",
            "1972856ebcf4fd08",
            "43e8195bba447330",
            "0c40af1e53657c10",
            "a194d606d2c36f0c",
            "97e2e9730afa6411",
            "fecc8e288bcc1234",
            "d199768c970a404f",
            "bf84f00af773ae55",
            "088242062a8edf86",
            "7cbd67306119b602",
            "9204f8d517897d74",
            "ff38c27547f57df5",
            "4ce66cb6c1cd331a",
            "b6f1b5afd8f26926",
            "b0058fcf19b55fbc",
            "1fb5a0fd9a1d867e",
            "11e84d462d0da702",
            "f0bb2e3b8a4db6ac",
            "9da53c72d3d77292",
            "fb872857136145a0",
            "1437e30492222fdc",
            "5a5ed27cce4a9ee1",
            "8fb0ec6470571fd1",
            "e4140757ba2e1d5d",
            "e3a7bdd291dc874f",
            "264ce3bcd8f56fe2",
            "225fb9b32f8b87a0",
            "0b7db5e2a563f7ee",
            "3f291a7f649259e7",
            "a9c4d402f2216f61"
        ],
        "x": 34,
        "y": 2259,
        "w": 952,
        "h": 602
    },
    {
        "id": "704fe7a0a3413400",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "720bdf8b4f4fd2bc",
            "c2e79e20b06839e6",
            "3c5d87dbdc9a0a2c",
            "507cce674d0f12d6",
            "5f6c31b4abc8077c",
            "d17844f69c0a434e",
            "93db13a150783f1f",
            "3484111e0c147f1d"
        ],
        "x": 34,
        "y": 2879,
        "w": 452,
        "h": 222
    },
    {
        "id": "ce2cac978984a426",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dae14136f482103c",
            "437c51adccb5ac31",
            "6c2aa04153a511ed",
            "051f1aadd5a065d6",
            "b7063bd33192a3f5",
            "dd045490fff21a17",
            "93a9fa867e314aa1",
            "8a2be6e648c0be85",
            "20ce89c8428168cd",
            "2d49c2d7293068cb",
            "a2d55fdc5f93394d",
            "17ec0cec1cf800f0",
            "dc4c13902bf14d5a",
            "e562836651255c95",
            "84aa094dcec4b4eb",
            "64b694757cc66cfc"
        ],
        "x": 34,
        "y": 19,
        "w": 852,
        "h": 322
    },
    {
        "id": "34bb4b9ed02977c4",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1c6d1d84d1f5b20c",
            "8db23007a8421019",
            "951d2fb927b26717",
            "4dcc10fe7421fa95",
            "8ce3acda769d7dcb",
            "8b4f08d0465d0609",
            "35bb4391eea1379d",
            "a0604dd1b071b4e4",
            "f5bb6853c058b83d",
            "fb8ebb4f5dd84306"
        ],
        "x": 34,
        "y": 799,
        "w": 792,
        "h": 182
    },
    {
        "id": "b427973b734bcab3",
        "type": "group",
        "z": "3af82246.3634ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7dbcb641d60081bf",
            "9830b7b725f14d83",
            "bc302c2998d5d05c",
            "51d2cea964219b92",
            "dc672f4c2f5746bc",
            "3edb5da5e7941c37",
            "a928c6d420cd98cd",
            "d32a7dac59dfaf10",
            "aeb035ff965d3e07",
            "cb97214fc946340e",
            "15b891b1eaae02bc",
            "3f243d36cf7b774d",
            "35db291da8249070"
        ],
        "x": 34,
        "y": 999,
        "w": 1092,
        "h": 142
    },
    {
        "id": "ac0560c0180e4641",
        "type": "mqtt-broker",
        "name": "Publisher",
        "broker": "${MQTT_PUB_BROKER}",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8cf5f6b5.937088",
        "type": "mqtt-broker",
        "name": "Subscriber",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3ca20af8a00e4653",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_last_message_timestamp_seconds",
        "help": "Timestamp of last message received (in seconds)",
        "labels": "centre_id",
        "mtype": "gauge"
    },
    {
        "id": "a566680eb78ef6ce",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_published_total",
        "help": "Number of message published",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "c344793f83ad40d6",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_invalid_format_total",
        "help": "Number of invalid messages",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "dd410bebb1e18cb0",
        "type": "redis-config",
        "name": "Cluster",
        "options": "$eval($env(\"REDIS_URL\"))",
        "cluster": true,
        "optionsType": "jsonata"
    },
    {
        "id": "ee256ebbe2fe3b40",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_received_total",
        "help": "Number of messages received from broker",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "99a12653dcbb94b9",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_connected_flag",
        "help": "Connection status from broker to centre",
        "labels": "centre_id",
        "mtype": "gauge"
    },
    {
        "id": "7fee2b4a4a920926",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_no_metadata_total",
        "help": "Number of messages received without corresponding metadata from centre\t",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "c58a8bf69230d14f",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_gb_messages_invalid_topic_total",
        "help": "Number of messages on invliad topic",
        "labels": "centre_id",
        "mtype": "counter"
    },
    {
        "id": "c13d3c5f9acc9999",
        "type": "status",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Remote Broker",
        "scope": [
            "0ba924a28af55b20"
        ],
        "x": 140,
        "y": 520,
        "wires": [
            [
                "163bec2fefa62a7c"
            ]
        ]
    },
    {
        "id": "b1115d7b4bce6f22",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Monitor connection",
        "info": "",
        "x": 170,
        "y": 400,
        "wires": []
    },
    {
        "id": "163bec2fefa62a7c",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "f2aa3a4d937b3b3a"
            ]
        ]
    },
    {
        "id": "48ea516b2cc04255",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "link in 6",
        "links": [
            "bf84f00af773ae55",
            "088242062a8edf86",
            "9204f8d517897d74"
        ],
        "x": 275,
        "y": 480,
        "wires": [
            [
                "163bec2fefa62a7c"
            ]
        ]
    },
    {
        "id": "ef668b083c0bba93",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\": 0\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 500,
        "wires": [
            [
                "78f49719d821c44b"
            ]
        ]
    },
    {
        "id": "78f49719d821c44b",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Flag",
        "metric": "99a12653dcbb94b9",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "f2aa3a4d937b3b3a",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Status ?",
        "property": "status.fill",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 440,
        "y": 520,
        "wires": [
            [
                "ef668b083c0bba93"
            ],
            [
                "ef668b083c0bba93"
            ],
            [
                "9bbd025173277f48"
            ]
        ]
    },
    {
        "id": "9bbd025173277f48",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "2cac6541d3b7ad29",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\": 1\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 540,
        "wires": [
            [
                "78f49719d821c44b"
            ]
        ]
    },
    {
        "id": "0a2486d0f3d8bfd5",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Monitor last subscribe",
        "info": "",
        "x": 180,
        "y": 640,
        "wires": []
    },
    {
        "id": "cb4d866e631c01ae",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "1 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "997975557ef1e873"
            ]
        ]
    },
    {
        "id": "997975557ef1e873",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 270,
        "y": 740,
        "wires": [
            [
                "b1c3baa492255df2"
            ]
        ]
    },
    {
        "id": "de8091ab1ae779f6",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "link in 5",
        "links": [
            "bf84f00af773ae55",
            "088242062a8edf86",
            "9204f8d517897d74"
        ],
        "x": 235,
        "y": 700,
        "wires": [
            [
                "997975557ef1e873"
            ]
        ]
    },
    {
        "id": "95e4cdf8faf5e1df",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Last message",
        "metric": "3ca20af8a00e4653",
        "x": 700,
        "y": 740,
        "wires": []
    },
    {
        "id": "87f62bece8e4dd67",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\": $floor ( $flowContext(\"last_sub\") / 1000 )\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 740,
        "wires": [
            [
                "95e4cdf8faf5e1df"
            ]
        ]
    },
    {
        "id": "20ec172fe67348c6",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Anti-loop",
        "info": "",
        "x": 140,
        "y": 1200,
        "wires": []
    },
    {
        "id": "5a32454d94055eac",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 840,
        "y": 2100,
        "wires": []
    },
    {
        "id": "f0aaab7d00875d14",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Chech ID",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 2120,
        "wires": [
            [
                "83eb6e6b9aadb4ad",
                "d1007e39ed03dbdd",
                "850ec94753e2c28e"
            ],
            []
        ]
    },
    {
        "id": "83eb6e6b9aadb4ad",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "extid",
                "pt": "msg",
                "to": "msg.mqttpayload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[msg.extid,true,\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "extid",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 2140,
        "wires": [
            [
                "522e09cdb6843f51"
            ]
        ]
    },
    {
        "id": "0ba924a28af55b20",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Subscriber",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 400,
        "y": 1280,
        "wires": [
            [
                "f0fc3d4efdfc4442"
            ]
        ]
    },
    {
        "id": "d1007e39ed03dbdd",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prepare pub",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mqttpayload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqtttopic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 2100,
        "wires": [
            [
                "5a32454d94055eac"
            ]
        ]
    },
    {
        "id": "5af91b47829c129d",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Subscriber",
        "metric": "ee256ebbe2fe3b40",
        "x": 990,
        "y": 1320,
        "wires": []
    },
    {
        "id": "df08c4d8b258e5c5",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 1320,
        "wires": [
            [
                "5af91b47829c129d"
            ]
        ]
    },
    {
        "id": "634a216d184c5685",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher",
        "metric": "a566680eb78ef6ce",
        "x": 840,
        "y": 2060,
        "wires": []
    },
    {
        "id": "850ec94753e2c28e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 2060,
        "wires": [
            [
                "634a216d184c5685"
            ]
        ]
    },
    {
        "id": "2fb43f7ea596c984",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Validate ?",
        "property": "( \t       ( ( $env(\"MSG_CHECK_OPTION\") in [\"discard\",\"verify\"] ) and $not($contains(topic,\"metadata\") ) ) ? true : false\t)\t",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 1940,
        "wires": [
            [
                "1ab497b74638e16e"
            ],
            [
                "c337fed9c7000a43"
            ]
        ]
    },
    {
        "id": "55162673b6a94ebc",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 1",
        "links": [
            "c337fed9c7000a43",
            "f8b75275aeb43797",
            "b5bc10e1081d22fc",
            "b398fe806fcee4cd"
        ],
        "x": 125,
        "y": 2120,
        "wires": [
            [
                "e8e9918ab2ea8a60"
            ]
        ]
    },
    {
        "id": "88fdc7d698acb2d7",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Discard ?",
        "property": "(  (  $env(\"MSG_CHECK_OPTION\") = \"discard\" )  ? true : false ) ",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 1960,
        "wires": [
            [],
            [
                "b5bc10e1081d22fc"
            ]
        ]
    },
    {
        "id": "3d51c30ba2785e20",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Invalid Message",
        "metric": "c344793f83ad40d6",
        "x": 820,
        "y": 1920,
        "wires": []
    },
    {
        "id": "343e0c53a688e686",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1920,
        "wires": [
            [
                "3d51c30ba2785e20"
            ]
        ]
    },
    {
        "id": "e8e9918ab2ea8a60",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Save msg",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "mqtttopic",
                "pt": "msg",
                "to": "topic",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqttpayload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 2120,
        "wires": [
            [
                "0329c03404035be3"
            ]
        ]
    },
    {
        "id": "c337fed9c7000a43",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "55162673b6a94ebc"
        ],
        "x": 315,
        "y": 1960,
        "wires": []
    },
    {
        "id": "f8b75275aeb43797",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "55162673b6a94ebc"
        ],
        "x": 595,
        "y": 1880,
        "wires": []
    },
    {
        "id": "b5bc10e1081d22fc",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "55162673b6a94ebc"
        ],
        "x": 755,
        "y": 1960,
        "wires": []
    },
    {
        "id": "0329c03404035be3",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "server": "dd410bebb1e18cb0",
        "command": "GET",
        "name": "Get",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 350,
        "y": 2120,
        "wires": [
            [
                "f0aaab7d00875d14"
            ]
        ]
    },
    {
        "id": "522e09cdb6843f51",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "server": "dd410bebb1e18cb0",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 790,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "fbf08e5fe9f4d457",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 3",
        "links": [
            "bf84f00af773ae55",
            "7cbd67306119b602",
            "b6f1b5afd8f26926"
        ],
        "x": 515,
        "y": 1220,
        "wires": [
            [
                "f0fc3d4efdfc4442",
                "22b5b78420c0a3cb"
            ]
        ]
    },
    {
        "id": "2a717a1429576405",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 4",
        "links": [
            "088242062a8edf86",
            "9204f8d517897d74"
        ],
        "x": 635,
        "y": 1220,
        "wires": [
            [
                "22b5b78420c0a3cb"
            ]
        ]
    },
    {
        "id": "f0fc3d4efdfc4442",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "",
        "controlTopic": "control",
        "defaultState": "queueing",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "10000",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 550,
        "y": 1280,
        "wires": [
            [
                "22b5b78420c0a3cb"
            ]
        ]
    },
    {
        "id": "22b5b78420c0a3cb",
        "type": "q-gate",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "",
        "controlTopic": "control",
        "defaultState": "queueing",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "10000",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 670,
        "y": 1280,
        "wires": [
            [
                "df08c4d8b258e5c5",
                "8cb14b7b13a76f0d",
                "04fbb71a261a5a42"
            ]
        ]
    },
    {
        "id": "ff5a70d1daccfcd8",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 7",
        "links": [
            "be4674f20dbff0b6",
            "733b05130c5ad7d3",
            "dc7851093f07bef3",
            "3dc527070675bf77",
            "e460a4e0e46f8b6b",
            "f101db1f25a2c3f5",
            "efad9ff6bfbdae5b",
            "e41ff0c9e7faf0c6"
        ],
        "x": 125,
        "y": 1940,
        "wires": [
            [
                "2fb43f7ea596c984"
            ]
        ]
    },
    {
        "id": "8cb14b7b13a76f0d",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Received",
        "rules": [
            {
                "t": "set",
                "p": "last_sub",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "2d16d1fb9be9c0af",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "2s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 2380,
        "wires": [
            [
                "0b7db5e2a563f7ee"
            ]
        ]
    },
    {
        "id": "fa24a2f54b4ae1a2",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Alive",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    $flowContext(\"centreid\"),\t    $flowContext(\"uuid\"),\t    $millis()\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 2380,
        "wires": [
            [
                "91375cbee22eac8b"
            ]
        ]
    },
    {
        "id": "91375cbee22eac8b",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HSET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 490,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "febc59b2a01d3b51",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "10s",
        "props": [
            {
                "p": "topic",
                "v": "[ $flowContext(\"centreid\") ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 130,
        "y": 2480,
        "wires": [
            [
                "fb872857136145a0"
            ]
        ]
    },
    {
        "id": "cb516c136f502154",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Elect",
        "func": "let min = \"zzzzzzzz-zzzz-zzzz-zzzz-zzzzzzzzzzzz\"\nlet arr = msg.payload;\nlet i;\nlet j=0;\nlet del=[];\nlet priority=\"secondary\";\n\nfor (i = 0; i < arr.length - 1; i = i + 2) {\n    if ( (arr[i] < min) && ( ( Date.now() - parseFloat(arr[i+1]) ) < 8000 ) ) min = arr[i] ;\n    if ( (Date.now() - parseFloat(arr[i + 1])) >= 8000 ) {\n        del[j] = arr[i];\n        j=j+1;\n    }\n}\n\nif ( flow.get(\"uuid\") == min ) priority=\"primary\"\n\nmsg.centre_id=flow.get(\"centreid\");\nmsg.payload = priority;\nmsg.del = del;\nmsg.uuid = flow.get(\"uuid\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2440,
        "wires": [
            [
                "1437e30492222fdc"
            ]
        ]
    },
    {
        "id": "f41773382fda2a90",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Primary ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "primary",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "secondary",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 2720,
        "wires": [
            [
                "0c40af1e53657c10",
                "3f291a7f649259e7"
            ],
            [
                "97e2e9730afa6411",
                "a9c4d402f2216f61"
            ]
        ]
    },
    {
        "id": "b6e7189343a699c5",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Delete ?",
        "property": "del",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 2600,
        "wires": [
            [
                "7396f17b4d5a8acc"
            ]
        ]
    },
    {
        "id": "7396f17b4d5a8acc",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Del",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$append(msg.centre_id,msg.del)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2600,
        "wires": [
            [
                "43e8195bba447330"
            ]
        ]
    },
    {
        "id": "1972856ebcf4fd08",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HGETALL",
        "name": "Getall",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 390,
        "y": 2440,
        "wires": [
            [
                "cb516c136f502154"
            ]
        ]
    },
    {
        "id": "43e8195bba447330",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HDEL",
        "name": "Del",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 690,
        "y": 2600,
        "wires": [
            []
        ]
    },
    {
        "id": "0c40af1e53657c10",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Open",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 2680,
        "wires": [
            [
                "bf84f00af773ae55"
            ]
        ]
    },
    {
        "id": "a194d606d2c36f0c",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Queue",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "queue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2760,
        "wires": [
            [
                "fecc8e288bcc1234",
                "9204f8d517897d74"
            ]
        ]
    },
    {
        "id": "97e2e9730afa6411",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 2740,
        "wires": [
            [
                "088242062a8edf86",
                "ff38c27547f57df5"
            ]
        ]
    },
    {
        "id": "fecc8e288bcc1234",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Flush",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "flush",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 2780,
        "wires": [
            [
                "7cbd67306119b602",
                "4ce66cb6c1cd331a"
            ]
        ]
    },
    {
        "id": "d199768c970a404f",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Queue",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "queue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 2780,
        "wires": [
            [
                "b6f1b5afd8f26926"
            ]
        ]
    },
    {
        "id": "bf84f00af773ae55",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "fbf08e5fe9f4d457",
            "de8091ab1ae779f6",
            "48ea516b2cc04255",
            "93db13a150783f1f",
            "a4d058e23d8dd012"
        ],
        "x": 395,
        "y": 2680,
        "wires": []
    },
    {
        "id": "088242062a8edf86",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "2a717a1429576405",
            "de8091ab1ae779f6",
            "48ea516b2cc04255",
            "3484111e0c147f1d",
            "94708a5cad3b4ebf"
        ],
        "x": 395,
        "y": 2720,
        "wires": []
    },
    {
        "id": "7cbd67306119b602",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "fbf08e5fe9f4d457",
            "a4d058e23d8dd012"
        ],
        "x": 725,
        "y": 2740,
        "wires": []
    },
    {
        "id": "9204f8d517897d74",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "2a717a1429576405",
            "de8091ab1ae779f6",
            "48ea516b2cc04255",
            "94708a5cad3b4ebf"
        ],
        "x": 595,
        "y": 2740,
        "wires": []
    },
    {
        "id": "ff38c27547f57df5",
        "type": "delay",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 395,
        "y": 2760,
        "wires": [
            [
                "a194d606d2c36f0c"
            ]
        ],
        "l": false
    },
    {
        "id": "4ce66cb6c1cd331a",
        "type": "delay",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 725,
        "y": 2780,
        "wires": [
            [
                "d199768c970a404f"
            ]
        ],
        "l": false
    },
    {
        "id": "b6f1b5afd8f26926",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "fbf08e5fe9f4d457",
            "a4d058e23d8dd012"
        ],
        "x": 925,
        "y": 2780,
        "wires": []
    },
    {
        "id": "b0058fcf19b55fbc",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Elect Primary/Secondary",
        "info": "",
        "x": 190,
        "y": 2300,
        "wires": []
    },
    {
        "id": "1fb5a0fd9a1d867e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Primary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t   \"docker\",\t   $flowContext(\"centreid\") & \"_primary\",\t   $flowContext(\"host\"),\t   $flowContext(\"centreid\") & \"_primary_time\",\t   $millis()\t]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 2640,
        "wires": [
            [
                "9da53c72d3d77292"
            ]
        ]
    },
    {
        "id": "11e84d462d0da702",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Secondary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[    \"docker\",    $flowContext(\"centreid\") & \"_secondary\",    $flowContext(\"host\"),    $flowContext(\"centreid\") & \"_secondary_time\",    $millis() ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 2820,
        "wires": [
            [
                "f0bb2e3b8a4db6ac"
            ]
        ]
    },
    {
        "id": "f0bb2e3b8a4db6ac",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HSET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 610,
        "y": 2820,
        "wires": [
            []
        ]
    },
    {
        "id": "9da53c72d3d77292",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "server": "dd410bebb1e18cb0",
        "command": "HSET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 570,
        "y": 2640,
        "wires": [
            []
        ]
    },
    {
        "id": "720bdf8b4f4fd2bc",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Health check",
        "info": "",
        "x": 150,
        "y": 2920,
        "wires": []
    },
    {
        "id": "c2e79e20b06839e6",
        "type": "http in",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "",
        "url": "/primary",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 2980,
        "wires": [
            [
                "507cce674d0f12d6"
            ]
        ]
    },
    {
        "id": "3c5d87dbdc9a0a2c",
        "type": "http response",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 410,
        "y": 2980,
        "wires": []
    },
    {
        "id": "507cce674d0f12d6",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Response",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "code",
                "tot": "flow"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 2980,
        "wires": [
            [
                "3c5d87dbdc9a0a2c"
            ]
        ]
    },
    {
        "id": "5f6c31b4abc8077c",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "200",
        "rules": [
            {
                "t": "set",
                "p": "code",
                "pt": "flow",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 3020,
        "wires": [
            []
        ]
    },
    {
        "id": "d17844f69c0a434e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "404",
        "rules": [
            {
                "t": "set",
                "p": "code",
                "pt": "flow",
                "to": "404",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 3060,
        "wires": [
            []
        ]
    },
    {
        "id": "93db13a150783f1f",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Is primary",
        "links": [
            "bf84f00af773ae55"
        ],
        "x": 120,
        "y": 3020,
        "wires": [
            [
                "5f6c31b4abc8077c"
            ]
        ],
        "l": true
    },
    {
        "id": "3484111e0c147f1d",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "704fe7a0a3413400",
        "name": "Is secondary",
        "links": [
            "088242062a8edf86"
        ],
        "x": 130,
        "y": 3060,
        "wires": [
            [
                "d17844f69c0a434e"
            ]
        ],
        "l": true
    },
    {
        "id": "dae14136f482103c",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "437c51adccb5ac31",
                "64b694757cc66cfc"
            ]
        ]
    },
    {
        "id": "437c51adccb5ac31",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle Monitoring",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "last_sub",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "CENTRE_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "host",
                "pt": "flow",
                "to": "WHOAMI",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbid",
                "pt": "flow",
                "to": "GB_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "6c2aa04153a511ed",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Initialize",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "051f1aadd5a065d6",
        "type": "redis-instance",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "server": "dd410bebb1e18cb0",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "b7063bd33192a3f5",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "uuid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "2d49c2d7293068cb"
            ]
        ]
    },
    {
        "id": "dd045490fff21a17",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_SUB_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_SUB_BROKER\"),/wss/) or $contains($env(\"MQTT_SUB_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_SUB_VERIFYCERT\")) = 0 ? false : $env(\"MQTT_SUB_VERIFYCERT\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_SUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_SUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_SUB_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_SUB_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "$length($env(\"MQTT_CLIENTID\")) = 0 ? payload : $env(\"MQTT_CLIENTID\") & \"_\" & $split(payload,\"-\")[4]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "8a2be6e648c0be85"
            ]
        ]
    },
    {
        "id": "93a9fa867e314aa1",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_PUB_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_PUB_BROKER\"),/wss/) or $contains($env(\"MQTT_PUB_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_PUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_PUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_PUB_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_PUB_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "$env(\"CENTRE_ID\") & \"_\" & $split(payload,\"-\")[4]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 300,
        "wires": [
            [
                "20ce89c8428168cd"
            ]
        ]
    },
    {
        "id": "8a2be6e648c0be85",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Define Subscriber",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 670,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "20ce89c8428168cd",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Define Publisher",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "1c6d1d84d1f5b20c",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "34bb4b9ed02977c4",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "metadata",
                "pt": "flow",
                "to": "$eval(payload[1])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "8db23007a8421019",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "34bb4b9ed02977c4",
        "name": "Get defined metadata",
        "info": "",
        "x": 180,
        "y": 840,
        "wires": []
    },
    {
        "id": "951d2fb927b26717",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "34bb4b9ed02977c4",
        "name": "GDC",
        "props": [
            {
                "p": "url",
                "v": "$env(\"GDC_URL\") & '\"' & $flowContext(\"centreid\") & '\"'",
                "vt": "jsonata"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "4dcc10fe7421fa95"
            ]
        ]
    },
    {
        "id": "4dcc10fe7421fa95",
        "type": "http request",
        "z": "3af82246.3634ae",
        "g": "34bb4b9ed02977c4",
        "name": "Metadata",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 900,
        "wires": [
            [
                "f5bb6853c058b83d"
            ]
        ]
    },
    {
        "id": "8ce3acda769d7dcb",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "34bb4b9ed02977c4",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "metadata",
                "pt": "msg",
                "to": "$distinct(\t   $map(\t       $exists(payload.features.links.channel) = true ? payload.features.links.channel : [\"\"],\t       function($v) { $substringAfter($v,\"wis2/\") }\t   \t   )\t\t)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "metadata",
                "pt": "msg",
                "to": "metadata = \"\" ? [\"\"] : metadata\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ \t   \"metadata_\" & $flowContext(\"centreid\"),\t   \"topic\",\t   $string(metadata)\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "metadata",
                "pt": "flow",
                "to": "metadata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 900,
        "wires": [
            [
                "8b4f08d0465d0609"
            ]
        ]
    },
    {
        "id": "8b4f08d0465d0609",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "34bb4b9ed02977c4",
        "server": "dd410bebb1e18cb0",
        "command": "HSET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 750,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "35bb4391eea1379d",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "34bb4b9ed02977c4",
        "server": "dd410bebb1e18cb0",
        "command": "HGETALL",
        "name": "Getall",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 270,
        "y": 940,
        "wires": [
            [
                "1c6d1d84d1f5b20c"
            ]
        ]
    },
    {
        "id": "a0604dd1b071b4e4",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "34bb4b9ed02977c4",
        "name": "Topics",
        "props": [
            {
                "p": "topic",
                "v": "[ \"metadata_\" & $flowContext(\"centreid\") ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 140,
        "y": 940,
        "wires": [
            [
                "35bb4391eea1379d"
            ]
        ]
    },
    {
        "id": "f5bb6853c058b83d",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "34bb4b9ed02977c4",
        "name": "200 ?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 900,
        "wires": [
            [
                "fb8ebb4f5dd84306"
            ]
        ]
    },
    {
        "id": "fb8ebb4f5dd84306",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "34bb4b9ed02977c4",
        "name": "Type ?",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "FeatureCollection",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 900,
        "wires": [
            [
                "8ce3acda769d7dcb"
            ]
        ]
    },
    {
        "id": "b1c3baa492255df2",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "62f91cf6e7d132d1",
        "name": "Sub ?",
        "property": "last_sub",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "87f62bece8e4dd67"
            ]
        ]
    },
    {
        "id": "80d75f8c9421968f",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Metadata check ?",
        "property": "$env(\"METADATA_CHECK_OPTION\") in [\"discard\",\"verify\"]",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 1740,
        "wires": [
            [
                "693c13abbe3813a4"
            ],
            [
                "dc7851093f07bef3"
            ]
        ]
    },
    {
        "id": "dc7851093f07bef3",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "ff5a70d1daccfcd8",
            "486214fe044bec1d"
        ],
        "x": 555,
        "y": 1780,
        "wires": []
    },
    {
        "id": "693c13abbe3813a4",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Valid ?",
        "property": "$substringAfter(topic,\"wis2/\") in $flowContext(\"metadata\")",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 1720,
        "wires": [
            [
                "3dc527070675bf77"
            ],
            [
                "775b0e5e08401ddf",
                "3b01c1f0f86b0b11",
                "f991a21e2b607b2a"
            ]
        ]
    },
    {
        "id": "3dc527070675bf77",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "ff5a70d1daccfcd8",
            "486214fe044bec1d"
        ],
        "x": 695,
        "y": 1680,
        "wires": []
    },
    {
        "id": "775b0e5e08401ddf",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Discard ?",
        "property": "(  (  $env(\"METADATA_CHECK_OPTION\") = \"discard\" )  ? true : false ) ",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 1760,
        "wires": [
            [],
            [
                "e460a4e0e46f8b6b"
            ]
        ]
    },
    {
        "id": "ec969eba156a4f07",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "No Metadata",
        "metric": "7fee2b4a4a920926",
        "x": 910,
        "y": 1720,
        "wires": []
    },
    {
        "id": "3b01c1f0f86b0b11",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1720,
        "wires": [
            [
                "ec969eba156a4f07"
            ]
        ]
    },
    {
        "id": "e460a4e0e46f8b6b",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "ff5a70d1daccfcd8",
            "486214fe044bec1d"
        ],
        "x": 855,
        "y": 1760,
        "wires": []
    },
    {
        "id": "544ea0b45f6dc572",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Restore msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mqttpayload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqtttopic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 1740,
        "wires": [
            [
                "80d75f8c9421968f"
            ]
        ]
    },
    {
        "id": "2b3db2c16c988666",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 10",
        "links": [
            "be4674f20dbff0b6",
            "859841c698d503bd",
            "733b05130c5ad7d3",
            "714d2454d4276f86",
            "2233a922b942b35d",
            "cd88a86bde5b4049",
            "dbc51c795c74b90f",
            "f5aaa060b0d16106",
            "72448fc7efddaaa5",
            "9feb20dab25d4aa1",
            "2d3baac593377587"
        ],
        "x": 125,
        "y": 1740,
        "wires": [
            [
                "544ea0b45f6dc572"
            ]
        ]
    },
    {
        "id": "dbc51c795c74b90f",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "2b3db2c16c988666"
        ],
        "x": 665,
        "y": 1640,
        "wires": []
    },
    {
        "id": "b367411c21cb904c",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Check",
        "func": "let topic = msg.topic;\n\nlet topicArray = topic.split(\"/\");\n\nif ([\"weather\", \"climate\", \"hydrology\", \"atmospheric-composition\", \"cryosphere\", \"ocean\", \"space-weather\"].includes(topicArray[6]) && topicArray[7] == \"experimental\") {\n    msg.check = true;\n    msg.topic = null;\n    return (msg);\n} \n\nlet topicShort = topicArray.splice(6, topicArray.length).join('/');\n\nmsg.payload = null;\n\nif ( topicArray[4] == \"metadata\" ) {\n    msg.check = true;\n    msg.topic = null;\n    return(msg);\n} \nelse {\n    if ((topicArray[4] == \"data\") && ( (topicArray[5] == \"core\") || (topicArray[5] == \"recommended\") ) ) {\n       msg.check = true;\n       msg.topic = \"topic_\" + md5(topicShort);\n       return(msg);\n    } \n    else {\n       msg.check = false;\n       msg.topic = null;\n       return(msg);\n    }\n}\n\n//  Formatted version of a popular md5 implementation\n//  Original copyright (c) Paul Johnston & Greg Holt.\n//  The function itself is now 42 lines long.\n\nfunction md5(inputString) {\n    var hc = \"0123456789abcdef\";\n    function rh(n) { var j, s = \"\"; for (j = 0; j <= 3; j++) s += hc.charAt((n >> (j * 8 + 4)) & 0x0F) + hc.charAt((n >> (j * 8)) & 0x0F); return s; }\n    function ad(x, y) { var l = (x & 0xFFFF) + (y & 0xFFFF); var m = (x >> 16) + (y >> 16) + (l >> 16); return (m << 16) | (l & 0xFFFF); }\n    function rl(n, c) { return (n << c) | (n >>> (32 - c)); }\n    function cm(q, a, b, x, s, t) { return ad(rl(ad(ad(a, q), ad(x, t)), s), b); }\n    function ff(a, b, c, d, x, s, t) { return cm((b & c) | ((~b) & d), a, b, x, s, t); }\n    function gg(a, b, c, d, x, s, t) { return cm((b & d) | (c & (~d)), a, b, x, s, t); }\n    function hh(a, b, c, d, x, s, t) { return cm(b ^ c ^ d, a, b, x, s, t); }\n    function ii(a, b, c, d, x, s, t) { return cm(c ^ (b | (~d)), a, b, x, s, t); }\n    function sb(x) {\n        var i; var nblk = ((x.length + 8) >> 6) + 1; var blks = new Array(nblk * 16); for (i = 0; i < nblk * 16; i++) blks[i] = 0;\n        for (i = 0; i < x.length; i++) blks[i >> 2] |= x.charCodeAt(i) << ((i % 4) * 8);\n        blks[i >> 2] |= 0x80 << ((i % 4) * 8); blks[nblk * 16 - 2] = x.length * 8; return blks;\n    }\n    var i, x = sb(\"\" + inputString), a = 1732584193, b = -271733879, c = -1732584194, d = 271733878, olda, oldb, oldc, oldd;\n    for (i = 0; i < x.length; i += 16) {\n        olda = a; oldb = b; oldc = c; oldd = d;\n        a = ff(a, b, c, d, x[i + 0], 7, -680876936); d = ff(d, a, b, c, x[i + 1], 12, -389564586); c = ff(c, d, a, b, x[i + 2], 17, 606105819);\n        b = ff(b, c, d, a, x[i + 3], 22, -1044525330); a = ff(a, b, c, d, x[i + 4], 7, -176418897); d = ff(d, a, b, c, x[i + 5], 12, 1200080426);\n        c = ff(c, d, a, b, x[i + 6], 17, -1473231341); b = ff(b, c, d, a, x[i + 7], 22, -45705983); a = ff(a, b, c, d, x[i + 8], 7, 1770035416);\n        d = ff(d, a, b, c, x[i + 9], 12, -1958414417); c = ff(c, d, a, b, x[i + 10], 17, -42063); b = ff(b, c, d, a, x[i + 11], 22, -1990404162);\n        a = ff(a, b, c, d, x[i + 12], 7, 1804603682); d = ff(d, a, b, c, x[i + 13], 12, -40341101); c = ff(c, d, a, b, x[i + 14], 17, -1502002290);\n        b = ff(b, c, d, a, x[i + 15], 22, 1236535329); a = gg(a, b, c, d, x[i + 1], 5, -165796510); d = gg(d, a, b, c, x[i + 6], 9, -1069501632);\n        c = gg(c, d, a, b, x[i + 11], 14, 643717713); b = gg(b, c, d, a, x[i + 0], 20, -373897302); a = gg(a, b, c, d, x[i + 5], 5, -701558691);\n        d = gg(d, a, b, c, x[i + 10], 9, 38016083); c = gg(c, d, a, b, x[i + 15], 14, -660478335); b = gg(b, c, d, a, x[i + 4], 20, -405537848);\n        a = gg(a, b, c, d, x[i + 9], 5, 568446438); d = gg(d, a, b, c, x[i + 14], 9, -1019803690); c = gg(c, d, a, b, x[i + 3], 14, -187363961);\n        b = gg(b, c, d, a, x[i + 8], 20, 1163531501); a = gg(a, b, c, d, x[i + 13], 5, -1444681467); d = gg(d, a, b, c, x[i + 2], 9, -51403784);\n        c = gg(c, d, a, b, x[i + 7], 14, 1735328473); b = gg(b, c, d, a, x[i + 12], 20, -1926607734); a = hh(a, b, c, d, x[i + 5], 4, -378558);\n        d = hh(d, a, b, c, x[i + 8], 11, -2022574463); c = hh(c, d, a, b, x[i + 11], 16, 1839030562); b = hh(b, c, d, a, x[i + 14], 23, -35309556);\n        a = hh(a, b, c, d, x[i + 1], 4, -1530992060); d = hh(d, a, b, c, x[i + 4], 11, 1272893353); c = hh(c, d, a, b, x[i + 7], 16, -155497632);\n        b = hh(b, c, d, a, x[i + 10], 23, -1094730640); a = hh(a, b, c, d, x[i + 13], 4, 681279174); d = hh(d, a, b, c, x[i + 0], 11, -358537222);\n        c = hh(c, d, a, b, x[i + 3], 16, -722521979); b = hh(b, c, d, a, x[i + 6], 23, 76029189); a = hh(a, b, c, d, x[i + 9], 4, -640364487);\n        d = hh(d, a, b, c, x[i + 12], 11, -421815835); c = hh(c, d, a, b, x[i + 15], 16, 530742520); b = hh(b, c, d, a, x[i + 2], 23, -995338651);\n        a = ii(a, b, c, d, x[i + 0], 6, -198630844); d = ii(d, a, b, c, x[i + 7], 10, 1126891415); c = ii(c, d, a, b, x[i + 14], 15, -1416354905);\n        b = ii(b, c, d, a, x[i + 5], 21, -57434055); a = ii(a, b, c, d, x[i + 12], 6, 1700485571); d = ii(d, a, b, c, x[i + 3], 10, -1894986606);\n        c = ii(c, d, a, b, x[i + 10], 15, -1051523); b = ii(b, c, d, a, x[i + 1], 21, -2054922799); a = ii(a, b, c, d, x[i + 8], 6, 1873313359);\n        d = ii(d, a, b, c, x[i + 15], 10, -30611744); c = ii(c, d, a, b, x[i + 6], 15, -1560198380); b = ii(b, c, d, a, x[i + 13], 21, 1309151649);\n        a = ii(a, b, c, d, x[i + 4], 6, -145523070); d = ii(d, a, b, c, x[i + 11], 10, -1120210379); c = ii(c, d, a, b, x[i + 2], 15, 718787259);\n        b = ii(b, c, d, a, x[i + 9], 21, -343485551); a = ad(a, olda); b = ad(b, oldb); c = ad(c, oldc); d = ad(d, oldd);\n    }\n    return rh(a) + rh(b) + rh(c) + rh(d);\n}\n  \n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1560,
        "wires": [
            [
                "4ac08b391b532d20"
            ]
        ]
    },
    {
        "id": "4ac08b391b532d20",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Result",
        "property": "check",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "jsonata_exp",
                "v": "$type(topic) = 'null'",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "$type(topic) = 'string'",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 1560,
        "wires": [
            [
                "fa4c3cbed535aba3"
            ],
            [
                "11852c20d22ca77d"
            ],
            [
                "ec8e2eeb9ceb6ebb"
            ]
        ]
    },
    {
        "id": "ec8e2eeb9ceb6ebb",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "server": "dd410bebb1e18cb0",
        "command": "GET",
        "name": "Get",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 450,
        "y": 1600,
        "wires": [
            [
                "12b28634fce3d9a0"
            ]
        ]
    },
    {
        "id": "12b28634fce3d9a0",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Valid ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 1600,
        "wires": [
            [
                "f2a77929465ade4f",
                "e4071c69374aa3a4",
                "df49419d7601b87d"
            ],
            [
                "dbc51c795c74b90f"
            ]
        ]
    },
    {
        "id": "f2a77929465ade4f",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Discard ?",
        "property": "$env(\"TOPIC_CHECK_OPTION\") = \"discard\"",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 1560,
        "wires": [
            [],
            [
                "f5aaa060b0d16106"
            ]
        ]
    },
    {
        "id": "bf376dc2dfd3bf3e",
        "type": "prometheus-exporter",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Invalid Topic",
        "metric": "c58a8bf69230d14f",
        "x": 930,
        "y": 1520,
        "wires": []
    },
    {
        "id": "e4071c69374aa3a4",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": $flowContext(\"centreid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1520,
        "wires": [
            [
                "bf376dc2dfd3bf3e"
            ]
        ]
    },
    {
        "id": "f5aaa060b0d16106",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "486214fe044bec1d",
            "2b3db2c16c988666"
        ],
        "x": 875,
        "y": 1560,
        "wires": []
    },
    {
        "id": "efad9ff6bfbdae5b",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "ff5a70d1daccfcd8"
        ],
        "x": 575,
        "y": 1560,
        "wires": []
    },
    {
        "id": "fa4c3cbed535aba3",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 23",
        "mode": "link",
        "links": [
            "352b870c0bdaf6d0"
        ],
        "x": 415,
        "y": 1520,
        "wires": []
    },
    {
        "id": "352b870c0bdaf6d0",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 11",
        "links": [
            "fa4c3cbed535aba3"
        ],
        "x": 555,
        "y": 1520,
        "wires": [
            [
                "e4071c69374aa3a4",
                "f2a77929465ade4f"
            ]
        ]
    },
    {
        "id": "11852c20d22ca77d",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Restore msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mqttpayload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqtttopic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1560,
        "wires": [
            [
                "efad9ff6bfbdae5b"
            ]
        ]
    },
    {
        "id": "d11e2b1d34dad0bf",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 12",
        "links": [
            "ee7abda9b65a0828"
        ],
        "x": 125,
        "y": 1560,
        "wires": [
            [
                "b367411c21cb904c"
            ]
        ]
    },
    {
        "id": "7dbcb641d60081bf",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "Refresh allowed topics",
        "info": "",
        "x": 180,
        "y": 1040,
        "wires": []
    },
    {
        "id": "9830b7b725f14d83",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "Soon ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "5400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 1100,
        "wires": [
            [
                "35db291da8249070"
            ]
        ]
    },
    {
        "id": "bc302c2998d5d05c",
        "type": "http request",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "WTH",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/golfvert/wis2-topic-hierarchy/main/earth-system-discipline-and-below.md5.txt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 1100,
        "wires": [
            [
                "51d2cea964219b92",
                "d32a7dac59dfaf10"
            ]
        ]
    },
    {
        "id": "51d2cea964219b92",
        "type": "split",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 810,
        "y": 1100,
        "wires": [
            [
                "dc672f4c2f5746bc"
            ]
        ]
    },
    {
        "id": "dc672f4c2f5746bc",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"topic_\" & payload,true,\"EX\",172800]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1100,
        "wires": [
            [
                "3edb5da5e7941c37"
            ]
        ]
    },
    {
        "id": "3edb5da5e7941c37",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "server": "dd410bebb1e18cb0",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1050,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "a928c6d420cd98cd",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "link in 13",
        "links": [
            "2d49c2d7293068cb"
        ],
        "x": 485,
        "y": 1060,
        "wires": [
            [
                "35db291da8249070"
            ]
        ]
    },
    {
        "id": "2d49c2d7293068cb",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "link out 25",
        "mode": "link",
        "links": [
            "a928c6d420cd98cd"
        ],
        "x": 515,
        "y": 100,
        "wires": []
    },
    {
        "id": "d32a7dac59dfaf10",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "Expire",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"uuid_\" & $flowContext(\"uuid\"),true,\"EX\",$floor(($random()+0.5)*86400)]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1060,
        "wires": [
            [
                "aeb035ff965d3e07"
            ]
        ]
    },
    {
        "id": "aeb035ff965d3e07",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "server": "dd410bebb1e18cb0",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 930,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "15b891b1eaae02bc",
        "type": "inject",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "TTL",
        "props": [
            {
                "p": "topic",
                "v": "[ \"uuid_\" & $flowContext(\"uuid\") ]",
                "vt": "jsonata"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "cb97214fc946340e"
            ]
        ]
    },
    {
        "id": "cb97214fc946340e",
        "type": "redis-command",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "server": "dd410bebb1e18cb0",
        "command": "TTL",
        "name": "TTL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 310,
        "y": 1100,
        "wires": [
            [
                "9830b7b725f14d83"
            ]
        ]
    },
    {
        "id": "3f243d36cf7b774d",
        "type": "delay",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "Random",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "5",
        "randomLast": "180",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 215,
        "y": 1100,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "a2b990cc2ac4b822",
        "type": "json-full-schema-validator",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "WNM",
        "property": "payload",
        "propertyType": "msg",
        "func": "",
        "x": 490,
        "y": 1920,
        "wires": [
            [
                "f8b75275aeb43797"
            ],
            [
                "343e0c53a688e686",
                "88fdc7d698acb2d7",
                "3e59395ae80ba3c9"
            ]
        ]
    },
    {
        "id": "dc4c13902bf14d5a",
        "type": "http request",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Get",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "e562836651255c95"
            ]
        ]
    },
    {
        "id": "e562836651255c95",
        "type": "json",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 180,
        "wires": [
            [
                "17ec0cec1cf800f0"
            ]
        ]
    },
    {
        "id": "17ec0cec1cf800f0",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "Schema",
        "rules": [
            {
                "t": "set",
                "p": "schema",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a2d55fdc5f93394d",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "URL",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "SCHEMA_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "dc4c13902bf14d5a"
            ]
        ]
    },
    {
        "id": "8dafdd8865d5f168",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$split($env(\"MQTT_SUB_TOPIC\"),\",\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 1280,
        "wires": [
            [
                "0ba924a28af55b20"
            ]
        ]
    },
    {
        "id": "c3701b3de6b8fb91",
        "type": "complete",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "",
        "scope": [
            "17ec0cec1cf800f0"
        ],
        "uncaught": false,
        "x": 130,
        "y": 1280,
        "wires": [
            [
                "8dafdd8865d5f168"
            ]
        ]
    },
    {
        "id": "1ab497b74638e16e",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Schema",
        "rules": [
            {
                "t": "set",
                "p": "schema",
                "pt": "msg",
                "to": "schema",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1920,
        "wires": [
            [
                "a2b990cc2ac4b822"
            ]
        ]
    },
    {
        "id": "72c0f0ca72d21c67",
        "type": "catch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Subscriber",
        "scope": [
            "0ba924a28af55b20"
        ],
        "uncaught": false,
        "x": 460,
        "y": 1840,
        "wires": [
            [
                "343e0c53a688e686"
            ]
        ]
    },
    {
        "id": "02167eb395a3423a",
        "type": "comment",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Catch error on not JSON WNM",
        "info": "",
        "x": 230,
        "y": 1860,
        "wires": []
    },
    {
        "id": "84aa094dcec4b4eb",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "K8s",
        "rules": [
            {
                "t": "set",
                "p": "k8s",
                "pt": "flow",
                "to": "$length($env(\"POD_NAME\")) = 0 ? false : $env(\"POD_NAME\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fb872857136145a0",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "K8s ?",
        "property": "k8s",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 2480,
        "wires": [
            [
                "1972856ebcf4fd08"
            ],
            [
                "8fb0ec6470571fd1"
            ]
        ]
    },
    {
        "id": "8fb0ec6470571fd1",
        "type": "http request",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Pod",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:4040",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 2520,
        "wires": [
            [
                "e4140757ba2e1d5d"
            ]
        ]
    },
    {
        "id": "e4140757ba2e1d5d",
        "type": "json",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 2520,
        "wires": [
            [
                "e3a7bdd291dc874f"
            ]
        ]
    },
    {
        "id": "e3a7bdd291dc874f",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Master ?",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "k8s",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 2520,
        "wires": [
            [
                "264ce3bcd8f56fe2"
            ],
            [
                "225fb9b32f8b87a0"
            ]
        ]
    },
    {
        "id": "264ce3bcd8f56fe2",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Primary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "primary",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 2500,
        "wires": [
            [
                "1437e30492222fdc"
            ]
        ]
    },
    {
        "id": "1437e30492222fdc",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "5a5ed27cce4a9ee1"
        ],
        "x": 945,
        "y": 2460,
        "wires": []
    },
    {
        "id": "5a5ed27cce4a9ee1",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "link in 14",
        "links": [
            "1437e30492222fdc"
        ],
        "x": 85,
        "y": 2720,
        "wires": [
            [
                "f41773382fda2a90"
            ]
        ]
    },
    {
        "id": "225fb9b32f8b87a0",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "Secondary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "secondary",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 2540,
        "wires": [
            [
                "1437e30492222fdc"
            ]
        ]
    },
    {
        "id": "0b7db5e2a563f7ee",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "K8s ?",
        "property": "k8s",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 2380,
        "wires": [
            [
                "fa24a2f54b4ae1a2"
            ]
        ]
    },
    {
        "id": "3f291a7f649259e7",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "K8s ?",
        "property": "k8s",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 2640,
        "wires": [
            [
                "b6e7189343a699c5",
                "1fb5a0fd9a1d867e"
            ]
        ]
    },
    {
        "id": "a9c4d402f2216f61",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "af64ebcc5f745fbb",
        "name": "K8s ?",
        "property": "k8s",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 2820,
        "wires": [
            [
                "11e84d462d0da702"
            ]
        ]
    },
    {
        "id": "35db291da8249070",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "b427973b734bcab3",
        "name": "URL",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$length($env(\"TOPIC_URL\")) = 0 ? \"https://raw.githubusercontent.com/golfvert/wis2-topic-hierarchy/main/earth-system-discipline-and-below.md5.txt\" : $env(\"TOPIC_URL\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1100,
        "wires": [
            [
                "bc302c2998d5d05c"
            ]
        ]
    },
    {
        "id": "3e276eaf84e46111",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Topic check ?",
        "property": "$env(\"TOPIC_CHECK_OPTION\") in [\"discard\",\"verify\"] ",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 1380,
        "wires": [
            [
                "ee7abda9b65a0828"
            ],
            [
                "714d2454d4276f86"
            ]
        ]
    },
    {
        "id": "ee7abda9b65a0828",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "d11e2b1d34dad0bf"
        ],
        "x": 655,
        "y": 1360,
        "wires": []
    },
    {
        "id": "714d2454d4276f86",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "2b3db2c16c988666"
        ],
        "x": 655,
        "y": 1400,
        "wires": []
    },
    {
        "id": "04fbb71a261a5a42",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "a600594b010f79b6"
        ],
        "x": 775,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a600594b010f79b6",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 15",
        "links": [
            "04fbb71a261a5a42"
        ],
        "x": 125,
        "y": 1400,
        "wires": [
            [
                "5ae11166c7e08eee"
            ]
        ]
    },
    {
        "id": "01a8d6c00cfa4ed4",
        "type": "switch",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "id ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "id",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1400,
        "wires": [
            [
                "3e276eaf84e46111"
            ],
            [
                "eafdcbad91d4038e",
                "f9f3a1e93e70df28"
            ]
        ]
    },
    {
        "id": "eafdcbad91d4038e",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 28",
        "mode": "link",
        "links": [
            "913733ee81aec859"
        ],
        "x": 455,
        "y": 1420,
        "wires": []
    },
    {
        "id": "913733ee81aec859",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 16",
        "links": [
            "eafdcbad91d4038e"
        ],
        "x": 495,
        "y": 1880,
        "wires": [
            [
                "343e0c53a688e686"
            ]
        ]
    },
    {
        "id": "64b694757cc66cfc",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "ce2cac978984a426",
        "name": "UUID",
        "func": "msg.payload = crypto.randomUUID();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 270,
        "y": 180,
        "wires": [
            [
                "b7063bd33192a3f5",
                "84aa094dcec4b4eb",
                "a2d55fdc5f93394d",
                "dd045490fff21a17",
                "93a9fa867e314aa1"
            ]
        ]
    },
    {
        "id": "5ae11166c7e08eee",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Save msg",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "mqtttopic",
                "pt": "msg",
                "to": "topic",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 1400,
        "wires": [
            [
                "01a8d6c00cfa4ed4"
            ]
        ]
    },
    {
        "id": "28044557835421f6",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 29",
        "mode": "link",
        "links": [
            "2c4139ee09b1643e"
        ],
        "x": 575,
        "y": 1460,
        "wires": []
    },
    {
        "id": "f9f3a1e93e70df28",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "error",
                "pt": "msg",
                "to": "Missing id in WIS2 Notification Message",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1460,
        "wires": [
            [
                "28044557835421f6"
            ]
        ]
    },
    {
        "id": "2c4139ee09b1643e",
        "type": "link in",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link in 17",
        "links": [
            "28044557835421f6",
            "7f9e9fa8e761b1d0",
            "e9481475ba807981",
            "3e59395ae80ba3c9"
        ],
        "x": 125,
        "y": 2200,
        "wires": [
            [
                "84972c6fa7c3556a"
            ]
        ]
    },
    {
        "id": "84972c6fa7c3556a",
        "type": "function",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "UUID",
        "func": "msg.uuid = crypto.randomUUID();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 210,
        "y": 2200,
        "wires": [
            [
                "3db0281cd705b3bc"
            ]
        ]
    },
    {
        "id": "3db0281cd705b3bc",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Cloud",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t  \"specversion\": \"1.0\",\t  \"type\": \"int.wmo.wis2.wmam.report.wnm\",\t  \"source\": $flowContext(\"gbid\"),\t  \"subject\": $flowContext(\"centreid\"),\t  \"id\": uuid,\t  \"time\": $fromMillis($millis(),'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01].[f003]Z'),\t  \"datacontenttype\": \"application/json\",\t  \"data\": {\t      \"topic\": mqtttopic,\t      \"payload\": mqttpayload,\t      \"error\": error\t    }\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"monitor/a/wis2/\" & $flowContext(\"gbid\") & \"/\" & $flowContext(\"centreid\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 2200,
        "wires": [
            [
                "e1e0a2bf24cab809"
            ]
        ]
    },
    {
        "id": "e1e0a2bf24cab809",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Publisher",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 460,
        "y": 2200,
        "wires": []
    },
    {
        "id": "7f9e9fa8e761b1d0",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 30",
        "mode": "link",
        "links": [
            "2c4139ee09b1643e"
        ],
        "x": 825,
        "y": 1600,
        "wires": []
    },
    {
        "id": "df49419d7601b87d",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "error",
                "pt": "msg",
                "to": "WIS2 Notification Message published on an invalid topic",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1600,
        "wires": [
            [
                "7f9e9fa8e761b1d0"
            ]
        ]
    },
    {
        "id": "f991a21e2b607b2a",
        "type": "change",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "error",
                "pt": "msg",
                "to": "Missing Metadata record for data publishing in WIS2 Notification Message",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1800,
        "wires": [
            [
                "e9481475ba807981"
            ]
        ]
    },
    {
        "id": "e9481475ba807981",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 31",
        "mode": "link",
        "links": [
            "2c4139ee09b1643e"
        ],
        "x": 825,
        "y": 1800,
        "wires": []
    },
    {
        "id": "3e59395ae80ba3c9",
        "type": "link out",
        "z": "3af82246.3634ae",
        "g": "0e2c3f294eb753b6",
        "name": "link out 32",
        "mode": "link",
        "links": [
            "2c4139ee09b1643e"
        ],
        "x": 595,
        "y": 2000,
        "wires": []
    }
]